<div class="header">
    <img class="logo" src="assets/Images/logo.png" (click)="navigateTo('/')" />
    <div class="button">
        <button class="label" (click)="navigateTo('/')">Inicio</button>
        <button class="label" (click)="navigateTo('/', 'programa')">Programa</button>
        <button class="label" (click)="navigateTo('/', 'descargas')">Descargas</button>
        <button class="login" (click)="navigateTo('/login')">
            <img class="img" src="assets/Images/button-login.png" />
        </button>
    </div>
</div>
