<div class="footer">
    <p class="element-la-salle-FP">
        2025. La Salle FP Online<br />Silvia Duarte<br />Laura Pérez<br />Santiago de Frutos
    </p>
    <p class="illustrations-by">
        <span class="text-wrapper">Illustrations by dekob2 from </span>
        <a href="https://icons8.com/illustrations/" target="_blank" rel="noopener noreferrer">
        <span class="span">Ouch!<br /></span></a>
        <span class="text-wrapper"><br /><br /></span>
        <span class="span">Privacy Policy</span>
    </p>
    <img class="line" src="/src/app/assets/Images/line.png" />
    <p class="email-lasalle-com">
        email&#64;lasalle.com<br/>Teléfono: (+34) 976 000 000<br/>
        <br/>Dirección: Plaça del Nord, 14<br/>Gràcia, 08024 (Barcelona)
    </p>
    <img class="illustration" src="/src/app/assets/Illustrations/Illustration 2.png" />
    <img class="logo" src="/src/app/assets/Images/logo.png" />
    <div class="ttulo-contacta">
        <div class="label"><div class="div">Contacta con nosotros</div></div>
    </div>
</div>