.footer {
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 45px 45px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.logo {
    width: 10vw;
    max-width: 9rem;
    height: auto;
    margin-bottom: 1rem;
}

.illustration {
    position: absolute;
    width: 15vw;
    max-width: 13rem;
    height: auto;
    right: 1rem;
    margin-bottom: 1rem;
}


.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.illustrations-by {
    text-align: right;
    margin: 0;
}

.span {
    text-decoration: underline;
}

.titulo-contacta {
    color: #F3F3F3;
    background-color: #AC3635;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    display: inline-block;
    width: fit-content;
    font-size: smaller;
}


.footer .text {
    font-size: 0.7rem; /* Aproximadamente 14px */
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.line {
    width: 100%;
}
