
<div class="sobre-nosotros">
    <div class="titulo-seccion">
        <h2>Sobre Nosotros</h2>
    </div>
    
    <!-- Fotos individuales -->
    <div class="fotos-individuales">
        <div class="foto-container">
            <img src="assets/Images/SilviaDuarte.png" alt="Foto de Silvia Duarte">
            <p>Silvia Duarte</p>
            <p>Grado den Artes</p>
        </div>
        <div class="foto-container">
            <img src="assets/Images/LauraPerez.png" alt="Foto de Laura Pérez">
            <p>Laura Pérez</p>
            <p>Grado den Informática</p>
        </div>
        <div class="foto-container">
            <img src="assets/Images/SantiagoDeFrutos.png" alt="Foto de Santiago de Frutos">
            <p>Santiago de Frutos</p>
            <p>Ldo. Educación Física</p>
        </div>
    </div>
    
    <!-- Experiencia en La Salle -->
    <div class="experiencia">
        <h3>Nuestra Experiencia</h3>
        <p>
            Estudiar en La Salle FP Online ha sido una experiencia enriquecedora que ha fortalecido nuestra capacidad de trabajo en equipo. 
            A pesar de los desafíos de la educación a distancia, hemos demostrado que el esfuerzo y la unión de grupo pueden superar cualquier obstáculo. 
            La Salle nos ha proporcionado las herramientas necesarias para crecer tanto profesional como personalmente, destacando la importancia de la colaboración y el aprendizaje continuo.
            
        </p>
    </div>

    <!-- Foto de grupo -->
    <div class="foto-grupo">
        <img src="assets/Images/Grupo.png" alt="Foto de grupo">
    </div>
</div>