/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */

/* General Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    height: 100%;
    font-family: 'Indivisa Text Sans', sans-serif;
}

body {
    margin: 0;
}

/* Font-Face Definitions */
@font-face {
    font-family: 'Indivisa Display Sans';
    src: url('/assets/fonts/woff2/indivisa_display_sans-regular.woff2') format('woff2'),
         url('/assets/fonts/woff/indivisa_display_sans-regular.woff') format('woff'),
         url('/assets/fonts/ttf/indivisa_display_sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisa Display Sans';
    src: url('/assets/fonts/woff2/indivisa_display_sans-heavy.woff2') format('woff2'),
         url('/assets/fonts/woff/indivisa_display_sans-heavy.woff') format('woff'),
         url('/assets/fonts/ttf/indivisa_display_sans-heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisa Display Serif';
    src: url('/assets/fonts/woff2/indivisa_display_serif_regular.woff2') format('woff2'),
         url('/assets/fonts/woff/indivisa_display_serif_regular.woff') format('woff'),
         url('/assets/fonts/ttf/indivisa_display_serif_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisa Text Sans';
    src: url('/assets/fonts/woff2/indivisa_text_sans-regular.woff2') format('woff2'),
         url('/assets/fonts/woff/indivisa_text_sans-regular.woff') format('woff'),
         url('/assets/fonts/ttf/indivisa_text_sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Indivisa Text Serif';
    src: url('/assets/fonts/woff2/indivisa_text_serif_regular.woff2') format('woff2'),
         url('/assets/fonts/woff/indivisa_text_serif_regular.woff') format('woff'),
         url('/assets/fonts/ttf/indivisa_text_serif_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Font Usage */
h1, h2, h3 {
    font-family: 'Indivisa Display Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4, h5, h6 {
    font-family: 'Indivisa Display Serif', serif;
    font-weight: 400;
    font-style: normal;
}

p, li, span {
    font-family: 'Indivisa Text Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

blockquote {
    font-family: 'Indivisa Text Serif', serif;
    font-weight: 400;
    font-style: italic;
}

/* Additional Styling */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.content-wrap {
    width: 100%;
    flex: 1;
}

.titulo {
    display: inline-flex;
    border-radius: 8px;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 3rem);
    color: #F3F3F3;
    top: 5vh;
    padding: 0 2rem;
    background-color: #2B2B2A;
}

.titulo p {
    margin: 2vh;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #F3F3F3;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 3rem;
    background-color: #F6E953;
    border-radius: 45px;
    border: 1px solid #2B2B2A;
    box-shadow: 0px 5px 0px #2B2B2A;
}

.campo {
    width: 80%;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 0.1rem solid #2B2B2A;
    box-shadow: 0px 0.3rem 0px #2B2B2A;
    padding: 1rem 2rem;
}
