.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 800px;
  /* background-color: #F6E953; */
  background-color: rgba(246, 233, 83, 0.1);
  border-radius: 20px;
  border: 2px solid #2B2B2A;
  box-shadow: 0 2px 0 #2B2B2A;
  padding: 2rem;
  margin: 3vh auto;
}

.bienvenido {
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-left: 0;
}

.mdc-text-field {
  background-color: white;
  width: 75%;
  margin-bottom: 20px;
}

.mdc-text-field__input {
  padding: 10px;
  box-sizing: border-box;
}

.mdc-floating-label {
  font-size: 12px;
  color: #2B2B2A;
  transition: 0.2s ease;
  box-sizing: border-box;
}

.mdc-text-field__input:focus + .mdc-notched-outline .mdc-notched-outline__notch {
  border-color: #2B2B2A;
}

.mdc-text-field__input:focus + .mdc-notched-outline .mdc-floating-label {
  transform: translateY(-20px) scale(0.75);
  color: #2B2B2A;
  
}

.mdc-text-field__input:valid + .mdc-notched-outline .mdc-floating-label {
  transform: translateY(-20px) scale(0.75);
  color: #2B2B2A;
}

.enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.enviar button {
  font-size: 14px;
  color: #2B2B2A;
  background-color: #F3F3F3;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  transition: border 0.3s ease, transform 0.3s ease;
}

.enviar button:hover, .enviar button:active {
  border: 2px solid #2B2B2A;
  transform: scale(1.05);
}

.tocho {
  display: flex;
  color: #2B2B2A;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
}

.registro-info {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

.enlace {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.enlace:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transform: scale(1.09);
}

.error-message-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: red;
  background-color: #F3F3F3;
  padding: 10px 15px; /* Ajusta el padding para reducir el espacio lateral */
  border-radius: 20px;
  border: 1px solid red;
  text-align: center;
  display: inline-block; /* Asegura que el contenedor se ajuste al tamaño del contenido */
}

.illustration {
  position: absolute;
  width: 30%;
  height: auto;
  max-width: 300px;
  top: 20%;
  right: 0;
  padding: 2rem;
}

@media (max-width: 380px) {
  .illustration {
    display: none; /* Oculta la ilustración */
  }

  .login {
    display: flex; /* Asegura que el contenedor sigue siendo un flexbox */
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 1rem; /* Ajusta el espaciado interno si es necesario */
  }

  .mdc-text-field {
    width: 90%; /* Aumenta el ancho de los campos para mayor comodidad */
    margin-bottom: 15px; /* Reduce el margen entre campos */
  }

  .enviar {
    margin-top: 20px; /* Añade espacio entre los campos y el botón */
  }

  .tocho, .registro-info {
    font-size: 10px; /* Reduce el tamaño de texto si es necesario */
    text-align: center; /* Centra el texto */
    margin-top: 10px; /* Ajusta el espacio superior */
  }

  .error-message-container {
    margin-top: 10px; /* Reduce el espacio superior del mensaje de error */
  }
}


