<div class="login">
  <div class="titulo bienvenido">Bienvenido</div>
  
  <form (ngSubmit)="onSubmit()">

      <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="email-label">Nombre de Usuario</span><br>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="email" id="email" name="email" class="mdc-text-field__input" [(ngModel)]="email" required aria-labelledby="email-label">
    </label>
  
    <label class="mdc-text-field mdc-text-field--outlined">
      <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
          <span class="mdc-floating-label" id="password-label">Contraseña</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
      </span>
      <input type="password" id="password" name="password" class="mdc-text-field__input" [(ngModel)]="password" required aria-labelledby="password-label">
    </label>

    <div class="enviar">
      <button mat-raised-button color="primary" type="submit">ENVIAR</button>
    </div>
  
    <div class="text registro-info">
      <p>Si no tienes cuenta,
        <a (click)="navigateToRegister()" class="enlace">regístrate</a>
      </p>
    </div>

    <div class="error-message-container">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
        
    <div class="tocho">
      <p>
          Este es un evento privado. <br>
          Si tienes algún problema ponte en contacto con tu profesor
      </p>
    </div>
  </form>
  
  <img class="illustration" src="assets/Illustrations/Illustration3.png">

</div>

    <!-- <div class="username">
      <label for="email">Nombre de Usuario</label>
      <input type="email" [(ngModel)]="email" name="email">
    </div> -->

        <!-- <div class="password">
      <label for="password">Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password">
    </div> -->

        <!-- <div class="enviar">
      <button type="submit">ENVIAR</button>
    </div> -->

        <!-- <div class="text registro-info">
      <p>Si no tienes cuenta,
        <a (click)="navigateToRegister()" class="enlace">regístrate</a>
      </p>
    </div>
  
    <div class="error-message-container">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
        
    <div class="tocho">
      <p>
          Este es un evento privado. <br>
          Si tienes algún problema ponte en contacto con tu profesor
      </p>
    </div>
  </form> -->