.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 800px;
  background-color: rgba(var(--color-amarillo-rgb),0.1);
  border-radius: 20px;
  border: 2px solid var(--color-negro);
  box-shadow: 0 2px 0 var(--color-negro);
  padding: 1.5rem;
  margin: 20px auto;
  font-family: 'Indivisa' sans-serif;
}

.username,
.password,
.enviar,
.registro-info,
.error-message-container,
.tocho {
  margin-top: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 0;
}

.titulo p{
  font-size: 24px;
  padding: 10px;
}
.password, .username{
  position: relative;
  width: 80%;
  background-color: var(--color-blanco);
  border-radius: 20px;
  border: 2px solid var(--color-negro);
  box-shadow: 0 2px 0 var(--color-negro);
  padding: 1rem;
}

.username input, .password input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-negro);
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  margin-top: 0.1rem;
}

.enviar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.enviar button {
  font-size: 1rem;
  color: var(--color-negro);
  background-color: var(--color-blanco);
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  transition: border 0.3s ease, transform 0.3s ease;
}

.enviar button:hover, .enviar button:active {
  border: 2px solid var(--color-negro);
  transform: scale(1.05);
}

.tocho {
  color: var(--color-negro);
  line-height: 2;
  text-align: center;
  font-size: 0.5rem;
}

.registro-info {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

.enlace {
  color: var(--color-azul);
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-weight: bold;
}

.enlace:hover {
  text-decoration: underline;
  transform: scale(1.09);
}

.error-message-container {
  display: flex;
  justify-content: center;
}

.error-message {
  color: var(--color-rojo);
  background-color: var(--color-blanco);
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--color-rojo);
  text-align: center;
  display: inline-block;
}

.illustration {
  position: absolute;
  width: 25%;
  height: auto;
  max-width: 300px;
  top: 20%;
  right: 0;
  padding: 2rem;
}

@media (max-width: 380px) {
  .illustration {
    display: none;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
  }

  .mdc-text-field {
    width: 90%;
    margin-bottom: 15px;
  }

  .enviar {
    margin-top: 20px;
  }

  .tocho, .registro-info {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
  }

  .error-message-container {
    margin-top: 10px;
  }
}
