<form (ngSubmit)="validarFormulario()" class="formulario registro">

  <div class="titulo">
    <p>Registro</p>
  </div>

  <!-- POP-UP -->
  <app-popup #popupEdicionRegistro></app-popup>

  <!-- Campo de Email y Validación -->
  <div *ngIf="!emailValidado" class="campo">
    <label class="text">* Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" class="mdc-text-field__input" required aria-labelledby="email-label" [readonly]="isEmailReadOnly">
    <img class="line" src="assets/Images/line.png">
  </div>
  <div *ngIf="!emailValidado" class="enviar">
    <button mat-raised-button color="primary" type="button" (click)="validarEmail()"tabindex="2">Validar Email</button>
  </div>

  <!-- Campos adicionales después de validar el email -->
  <div *ngIf="emailValidado">

    <!-- Campo Entidad -->
  <div class="campo" *ngIf="rol === 2">
    <label class="text">* Entidad:</label>
    <input type="text" [(ngModel)]="entidad" name="entidad" class="input" readonly>
    <img class="line" src="assets/Images/line.png">
  </div>

    <!-- Campo de Email (solo lectura) -->
    <div class="campo">
      <label class="text">* Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="input" tabindex="1"
      (keydown.enter)="validarEmail()" readonly>
      <img class="line" src="assets/Images/line.png">
    </div>

    <!-- Contraseña y Confirmar Contraseña -->
    <div class="campo">
      <label class="text">* Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="input" required [disabled]="!isEditable">
      <img class="line" src="assets/Images/line.png">
    </div>
    <div class="campo">
      <label class="text">* Repite la contraseña:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="input"
        [ngClass]="{'error': passwordsDoNotMatch}" #confirmPasswordInput
        (blur)="checkPasswords()"
        [disabled]="!isEditable">
      <img class="line" src="assets/Images/line.png">
    </div>

    <!-- Campo de Rol (No editable) -->
    <div class="campo">
      <label class="text">* Rol:</label>
      <input type="text" #rolInput [value]="rol" class="input" disabled>
      <img class="line" src="assets/Images/line.png">
    </div>

    <!-- Campos específicos para cada rol -->

    <!-- Rol Empresa -->
    <div *ngIf="rol === 1">
      <div class="campo">
        <label class="text">* Nombre de la Empresa:</label>
        <input type="text" id="nombre_empresa" [(ngModel)]="nombre_empresa" name="nombre_empresa" class="input" [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
      </div>
      <div class="campo">
        <label class="text">* Web URL:</label>
        <input type="text" id="web_url" [(ngModel)]="web_url" name="web_url" class="input" [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
      </div>
      <div class="campo">
        <label class="text">Spot URL:</label>
        <input type="text" id="spot_url" [(ngModel)]="spot_url" name="spot_url" class="input" [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
      </div>
      <div class="campo">
        <label for="logo_file" class="text">* Logo:</label>
        <input type="file" id="logo_file" (change)="onLogoFileChange($event)" accept="image/*" class="input"/>
        <img *ngIf="logoPreview" [src]="logoPreview" alt="Vista previa del logo" class="logo-preview"/>
      </div>
      <div class="campo">
        <label class="text">Descripción de productos o servicios</label>
        <img class="line" src="assets/Images/line.png">
        <textarea class="textarea" placeholder="Escribe aquí..." [(ngModel)]="descripcion" name="descripcion" [disabled]="!isEditable"></textarea>
      </div>
      <div class="campo">
        <label class="text">* URL Meet:</label>
        <input type="text" id="url_meet" [(ngModel)]="url_meet" name="url_meet" class="input" [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
      </div>
      <div class="campo">
        <label class="text">* Horarios de atención al cliente</label>
        <div class="horario">
            <p class="text">Mañana:</p>
            <p class="text">desde</p>
            <input type="time"
            [(ngModel)]="horario_meet_morning_start"
            (change)="validarHorarioManana()"
            name="horario_meet_morning_start"
            class="input time-input"
            [min]="'10:00'"
            [max]="'13:00'"
            [disabled]="!isEditable">
            <p class="text">hasta</p>
            <input type="time"
            [(ngModel)]="horario_meet_morning_end"
            (change)="validarHorarioManana()"
            name="horario_meet_morning_end"
            class="input time-input"
            [min]="'10:00'"
            [max]="'13:00'"
            [disabled]="!isEditable">
        </div>
        <div *ngIf="horarioMananaError" class="error-message">{{horarioMananaError}}</div>
        <img class="line" src="assets/Images/line.png">
        <div class="horario">
            <p class="text">Tarde:</p>
            <p class="text">desde</p>
            <input type="time"
            [(ngModel)]="horario_meet_afternoon_start"
            (change)="validarHorarioTarde()"
            name="horario_meet_afternoon_start"
            class="input time-input"
            [min]="'15:30'"
            [max]="'18:30'"
            [disabled]="!isEditable">
            <p class="text">hasta</p>
            <input type="time"
            [(ngModel)]="horario_meet_afternoon_end"
            (change)="validarHorarioTarde()"
            name="horario_meet_afternoon_end"
            class="input time-input"
            [min]="'15:30'"
            [max]="'18:30'"
            [disabled]="!isEditable">
        </div>
        <div *ngIf="horarioTardeError" class="error-message">{{horarioTardeError}}</div>
        <img class="line" src="assets/Images/line.png">
      </div>
      <div class="campo">
        <label class="text">* Entidad:</label>
        <input type="text" [(ngModel)]="entidad" name="entidad" class="input" readonly [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
      </div>
      </div>

    <!-- Botón de Registro -->
    <div class="enviar">
      <button mat-raised-button color="primary" type="submit">REGISTRARSE</button>
    </div>
    <!-- <button type="submit" class="button-validar">Registrarse</button> -->
  </div>

  <!-- Mensaje de Error -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>