<div class="formulario">

    <!-- Título -->
    <div class="titulo">
        <p>Información de mi perfil</p>
    </div>

    <!-- Nombre de COLEGIO -->
    <div class="campo">
        <label class="text">* ENTIDAD</label>
        <input type="text" [(ngModel)]="entidad" class="input" readonly>
        <img class="line" src="assets/Images/line.png">
    </div>

    <!-- Cambiar Contraseña -->
    <div class="campo">
        <label class="text">Cambiar contraseña</label>
        <input type="password" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" class="input" placeholder="Ingrese nueva contraseña" [disabled]="!isEditable">
        <img class="line" src="assets/Images/line.png">
    </div>
    <!-- Repetir Contraseña -->
    <div class="campo">
        <label class="text">Repetir contraseña</label>
        <input type="password" [(ngModel)]="repiteContrasena" name="repiteContrasena" class="input" placeholder="Repita la contraseña" [disabled]="!isEditable" (blur)="checkPasswords()">
        <img class="line" src="assets/Images/line.png">
        <div *ngIf="contrasenaErrorMessage" class="error-message">{{ contrasenaErrorMessage }}</div>
    </div>

    <!-- CAMBIOS PROPIOS PARA EL ROL EMPRESA -->

        <!-- Nombre de empresa -->
        <div class="campo" *ngIf="userRole === 1">
            <label class="text">* Nombre de empresa</label>
            <input type="text" [(ngModel)]="nombreEmpresa" class="input" [disabled]="!isEditable">
            <img class="line" src="assets/Images/line.png">
        </div>

        <!-- Logotipo -->
        <div class="campo" *ngIf="userRole === 1">
            <label for="logo_file" class="text">* Logo:</label>
            <input type="file" id="logo_file" (change)="onLogoFileChange($event)" accept="image/*" class="input" [disabled]="!isEditable"/>
            <img *ngIf="logoPreview" [src]="logoPreview" alt="Vista previa del logo" class="logo-preview"/>
        </div>

        <!-- Página web (Producto o servicio) -->
        <div class="campo" *ngIf="userRole === 1">
            <label class="text">* Página web (Producto o servicio)</label>
            <input type="text" [(ngModel)]="paginaWeb" class="input" [disabled]="!isEditable">
            <img class="line" src="assets/Images/line.png">
        </div>

        <!-- Enlace a Sala de Espera -->
        <div class="campo" *ngIf="userRole === 1">
            <label class="text">* Enlace a Sala de Espera</label>
            <input type="text" [(ngModel)]="enlaceSalaEspera" class="input" [disabled]="!isEditable">
            <img class="line" src="assets/Images/line.png">
        </div>

        <div class="campo" *ngIf="userRole === 1">
            <label class="text">* Horarios de atención al cliente</label>
            <div class="horario">
                <p class="text">Mañana:</p>
                <p class="text">desde</p>
                <input type="time"
                [(ngModel)]="horario_meet_morning_start"
                (change)="validarHorarioManana()"
                name="horario_meet_morning_start"
                class="input time-input"
                [min]="'10:00'"
                [max]="'13:00'"
                [disabled]="!isEditable">
                <p class="text">hasta</p>
                <input type="time"
                [(ngModel)]="horario_meet_morning_end"
                (change)="validarHorarioManana()"
                name="horario_meet_morning_end"
                class="input time-input"
                [min]="'10:00'"
                [max]="'13:00'"
                [disabled]="!isEditable">
            </div>
            <div *ngIf="horarioMananaError" class="error-message">{{horarioMananaError}}</div>
            <img class="line" src="assets/Images/line.png">
            <div class="horario">
                <p class="text">Tarde:</p>
                <p class="text">desde</p>
                <input type="time"
                [(ngModel)]="horario_meet_afternoon_start"
                (change)="validarHorarioTarde()"
                name="horario_meet_afternoon_start"
                class="input time-input"
                [min]="'15:30'"
                [max]="'18:30'"
                [disabled]="!isEditable">
                <p class="text">hasta</p>
                <input type="time"
                [(ngModel)]="horario_meet_afternoon_end"
                (change)="validarHorarioTarde()"
                name="horario_meet_afternoon_end"
                class="input time-input"
                [min]="'15:30'"
                [max]="'18:30'"
                [disabled]="!isEditable">
            </div>
            <div *ngIf="horarioTardeError" class="error-message">{{horarioTardeError}}</div>
            <img class="line" src="assets/Images/line.png">
        </div>

        <!-- Spot Publicitario -->
        <div class="campo" *ngIf="userRole === 1">
            <label class="text">Spot Publicitario</label>
            <input type="text" [(ngModel)]="spotPublicitario" class="input" [disabled]="!isEditable">
            <img class="line" src="assets/Images/line.png">
        </div>

        <!-- Descripción de productos o servicios -->
        <div class="campo producto" *ngIf="userRole === 1">
            <label class="text">Descripción de productos o servicios</label>
            <textarea [(ngModel)]="descripcionProductos" class="textarea" [disabled]="!isEditable"></textarea>
            <img class="line" src="assets/Images/line.png">
        </div>

    <!-- Contenedor de Botón de Validar y Mensaje de Error -->
    <div class="overlap-group">
        <button (click)="validarFormulario()" type="button" class="button-validar">
            <div class="label-2">VALIDAR</div>
        </button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
</div>

<!-- Div independiente para la ilustración -->
<div class="illustration-container">
    <img class="illustration" src="assets/Illustrations/Illustration5.png">
</div>

<app-popup #popupEdicionEmpresa></app-popup>