<footer class="footer">
    <img class="logo" src="assets/Images/logo.png" alt="Logo" />

    <div class="titulo-contacta">
        <p>Contacta con nosotros</p>
    </div>
    <!-- <div class="titulo-nosotros">
        <p>Sobre con nosotros</p>
    </div> -->
    <div class="titulo-nosotros">
        <a [routerLink]="['/nosotros']">Sobre con nosotros</a>
    </div>
    <p class="text">
        email&#64;lasalle.com<br/>
        Teléfono: (+34) 976 000 000<br/>
        <br/>Dirección: Plaça del Nord, 14<br/>
        Gràcia, 08024 (Barcelona)
    </p>

    <img class="illustration" src="assets/Illustrations/Illustration2.png" alt="Illustration"/>

    <img class="line" src="assets/Images/line.png" alt="Decorative line"/>

    <div class="footer-content">
        <p class="text">
            2025. La Salle FP Online<br/>
            Silvia Duarte<br/>
            Laura Pérez<br/>
            Santiago de Frutos
        </p>
        <p class="text illustrations-by">
            <span>Illustrations by dekob2 from </span>
            <a href="https://icons8.com/illustrations/" target="_blank" rel="noopener noreferrer">
                <span class="span">Ouch!<br/></span>
            </a>
            <span><br/><br/></span>
            <span class="span">Privacy Policy</span>
        </p>
    </div>
</footer>