.footer {
    width: 100%;
    max-width: none;
    margin: 0;
    height: auto;
    background-color: var(--color-blanco);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    align-items: start;
    /* gap: 1rem; */
    top: 1rem;
    margin-top: auto;
}
.footer-botones,
.footer-text,
.footer-content {
    padding: 0.5rem;
    text-align: center;
}
.footer-text,
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.titulo-contacta {
    color: var(--color-blanco);
    background-color: var(--color-rojo);
    font-family: 'Indivisa Text Sans', sans-serif;
    font-size: 1rem;
    display: inline-block;
    width: fit-content;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.titulo-nosotros {
    color: var(--color-blanco);
    background-color: var(--color-azul);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-family: 'Indivisa Text Sans', sans-serif;
    font-size: 0.7rem;
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Efecto hover */
.titulo-contacta:hover {
    background-color: rgba(var(--color-rojo-rgb), 0.3);
    color: var(--color-blanco);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.titulo-nosotros:hover {
    background-color: rgba(var(--color-azul-rgb), 0.3);
    color: var(--color-blanco);
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.titulo-nosotros a {
    color: var(--color-blanco);
    text-decoration: none;
    display: block;
}

/* .divider {
    width: 2px;
    background-color: var(--color-negro);
    height: 100%;
    margin: 0 1rem;
} */

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-negro);
    margin: 1rem 0;
}
.illustrations-by {
    margin: 0;
}
.illustrations-by a {
    color: var(--color-negro);
    text-decoration: none;
}
.illustrations-by a:hover {
    text-decoration: underline;
}
.illustration {
    position: static;
    width: 15%;
    height: auto;
    right: 0;
    margin-bottom: 1rem;
}
.span {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        gap: 0.5rem;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-botones,
    .footer-text,
    .footer-content {
        padding: 0.2rem;
    }
    .titulo-contacta,
    .titulo-nosotros {
        font-size: 0.5rem;
        padding: 0.3rem 0.5rem;
        width: auto;
        white-space: nowrap;
    }
    .line {
        margin: 0.5rem 0;
    }
}

@media (max-width: 375px) {
    .footer {
        width: 100%;
        max-width: none;
        grid-template-columns: 1fr;
        gap: 0.3rem;
    }
    .titulo-contacta,
    .titulo-nosotros {
        font-size: 0.5rem;
        padding: 0.3rem 0.6rem;
        white-space: nowrap;
    }
    .footer-botones,
    .footer-text,
    .footer-content {
        padding: 0.3rem;
    }
    .illustration{
        display: none;
    }
}

@media (max-width: 850px) {
    .titulo-contacta {
        font-size: 0.6rem;
        padding: 0.3rem 0.6rem;
        width: auto;
        white-space: nowrap;
    }
    .footer {
        width: 100%;
        max-width: none;
        grid-template-columns: 1fr;
        gap: 0.3rem;
    }
}