<div class="feriaPage" id="feriaPage">
    <div class="titulo">
        <p>Feria virtual</p>
    </div>

<!-- Agenda -->
<div class="agenda" id="agenda" *ngIf="userType !== 3">
    <h2>Agenda</h2>
    <div *ngFor="let evento of eventosAgenda; let i = index"
        class="frame"
        [ngClass]="{ 'expanded': evento.isExpanded, 'collapsed': !evento.isExpanded, 'evento-en-curso': evento.enCurso }">

        <!-- Encabezado del evento -->
        <div class="frame-header">
            <div class="time-wrapper">
                <!-- Cambiar hora de inicio y final usando pipes de fecha -->
                {{ evento.horario_start | date: 'HH:mm' }} a {{ evento.horario_end | date: 'HH:mm' }}
            </div>
            <!-- Cambiar la descripción a nombre del evento -->
            <p class="event-description">{{ evento.nombre }}</p>
            <img class="plus-icon"
                [src]="evento.isExpanded ? 'assets/Images/icon-minus.png' : 'assets/Images/icon-plus.png'"
                alt="Toggle"
                (click)="toggleFrame($event)"
            />
        </div>
        <!-- Línea separadora que aparece cuando el evento está expandido -->
        <div class="line" *ngIf="evento.isExpanded"></div>
        <!-- Contenido del evento expandido -->
        <div class="frame-content" [ngClass]="{'expanded': evento.isExpanded}">
            <div class="flexcontainer">
                <!-- Botón para unirse a la reunión -->
                <a *ngIf="evento.meet_url" (click)="openMeetLink(evento.meet_url)" class="btn-meet">
                    Unirse a la reunión
                </a>
            </div>
        </div>
    </div>
</div>

        <!-- Mis relaciones comerciales -->
        <div class="mis-relaciones"  *ngIf="userType !== 3">
            <div class="titulo-notificaciones">
                <div class="fondo-notificaciones">
                    <div class="texto-titulo-notificaciones">Mis relaciones comerciales</div>
                </div>
            </div>
            <div class="contenedor-realaciones">
                <div class="overlap-relaciones-1">
                    <div class="text-relaciones">Mis intereses</div>
                    <div class="scroll-container">
                        <div *ngIf="relacionesVenta.length === 0" class="mensaje-sin-relaciones">
                            <p>Aquí aparecerán las empresas que me interesan</p>
                        </div>
                        <div *ngFor="let venta of relacionesVenta" class="rectangle-relaciones" (click)="mostrarDetalles(venta.empresa_interesada_id)">
                            <img *ngIf="venta.logo_url" [src]="venta.logo_url" alt="{{ venta.nombre_empresa }}" class="logo-interes">
                        </div>
                    </div>
                </div>

                <div class="overlap-relaciones-2">
                    <div class="text-relaciones">Interesados en mí</div>
                    <div class="scroll-container">
                        <div *ngIf="relacionesCompra.length === 0" class="mensaje-sin-relaciones">
                            <p>Aquí aparecerán los interesados en mí</p>
                        </div>
                        <div *ngFor="let compra of relacionesCompra" class="rectangle-relaciones" (click)="mostrarDetalles(compra.empresa_id)">
                            <img *ngIf="compra.logo_url" [src]="compra.logo_url" alt="{{ compra.nombre_empresa }}" class="logo-interes">
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenedor-texto-suma">
                <div class="text-suma-1">Total: {{ relacionesVenta.length }} <br/>empresas</div>
                <div class="text-suma-2">Total: {{ relacionesCompra.length }} <br/>empresas</div>
            </div>
        </div>

        <!---->
        <!-- Notificaciones
        <div class="notificaciones">
            <div class="titulo-notificaciones">
                <div class="fondo-notificaciones">
                    <div class="texto-titulo-notificaciones">Notificaciones</div>
                </div>
            </div>
            <div class="text-line-container">
                <p class="text-notificaciones">¿Qué queremos que se notifique?</p>
                <div class="line-notificaciones"></div>
            </div>
        </div>
    </div>
    -->

    <!-- Ilustración -->
    <img class="illustration" src="assets/Illustrations/Illustration4.png">

    <!-- Listado empresas -->
    <div class="titulo" id="empresas">
        <p>Empresas participantes</p>
    </div>
    <div class="scroll-container-2">
        <div *ngFor="let empresa of empresas" class="rectangle-empresas" (click)="mostrarDetalles(empresa.id_empresa)">
            <div class="logo-container">
                <div *ngIf="haVotadoPorEmpresa(empresa.id)" class="logo-overlay"></div> <!-- Capa blanca semitransparente -->
                <img [src]="empresa.logo" alt="{{ empresa.nombre }}" class="logo-empresa">
                <!-- Mostrar el ícono de "Me gusta" si el usuario ha votado por la empresa -->
                <div *ngIf="haVotadoPorEmpresa(empresa.id)" class="icono-container">
                    <img src="assets/Images/Icon_MEGUSTA.svg" alt="Voto" class="icono-gusta" />
                </div>
            </div>
            <p class="txt-logo">
                {{ empresa.nombre_empresa }}
            </p>
        </div>
    </div>



    <!-- Detalle empresas -->
    <div *ngIf="empresaSeleccionada" class="detalles" id="detalles">
        <div class="titulo-detalles">
            <div class="titulo">Detalles de {{ empresaSeleccionada.nombre_empresa }}</div>
        </div>

        <img src="assets/Images/icon-plus.png" class="close-icon" alt="Cerrar" (click)="cerrarDetalles()"/>

        <div class="contenedor-arriba">
            <div class="rectangle-detalles">
                <img *ngIf="empresaSeleccionada.logo" [src]="empresaSeleccionada.logo" alt="Logotipo de {{ empresaSeleccionada.nombre_empresa }}" class="logo-img"/>
            </div>
            <p class="empresa">
                <span class="subtitulo-detalles">{{ empresaSeleccionada.nombre_empresa }}</span>
                <br class="text-detalles">
                    <br/>Página web: <a [href]="empresaSeleccionada.web_url" target="_blank">{{ empresaSeleccionada.web_url }}</a>
                    <br/>Horarios de ATENCIÓN CLIENTE:
                    <br/> - {{ horariosDeAtencionManana }}
                    <br/> - {{ horariosDeAtencionTarde }}
                    <br/>Enlace de MEET: <a [href]="empresaSeleccionada.meetLink" target="_blank">{{ empresaSeleccionada.url_meet }}</a><br/>
            </p>
        </div>

        <div class="contenedor-abajo" *ngIf="empresaSeleccionada">
            <div class="contenedor-video-descripcion">
                <!-- Si hay solo video -->
                <ng-container *ngIf="empresaSeleccionada.spot_url && !empresaSeleccionada.descripcion">
                    <iframe
                        [src]="getEmbedUrl(empresaSeleccionada.spot_url)"
                        class="video-completo"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                </ng-container>
                <!-- Si hay solo descripción -->
                <ng-container *ngIf="!empresaSeleccionada.spot_url && empresaSeleccionada.descripcion">
                    <div class="descripcion-completa">
                        <p>{{ empresaSeleccionada.descripcion }}</p>
                    </div>
                </ng-container>
                <!-- Si hay video y descripción -->
                <ng-container *ngIf="empresaSeleccionada.spot_url && empresaSeleccionada.descripcion">
                    <iframe
                        [src]="getEmbedUrl(empresaSeleccionada.spot_url)"
                        class="video-parcial"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                    <div class="descripcion-parcial">
                        <p>{{ empresaSeleccionada.descripcion }}</p>
                    </div>
                </ng-container>
            </div>
        </div>


        <div class="button-container" *ngIf="!ocultarBotonesDeInteraccion">
            <button class="button" *ngIf="!yaVotado && spotUrl" (click)="votar()">Votar</button>
            <button class="button" *ngIf="yaVotado" (click)="eliminarVoto()">Eliminar Voto</button>
            <button class="button" *ngIf="userType === 1" (click)="agregarOEliminarInteres()">
                {{ interesadoEnEmpresa ? 'Eliminar interés' : 'Me interesa' }}
            </button>
        </div>
    </div>
</div>