
/* #Region Agenda */

.feriapage{
    font-family: 'Indivisa' sans-serif;
}
.agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    padding: 1rem;
}
/* Estilo para cada frame */
.frame {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem 1rem;
    background-color: var(--color-blanco);
    border-radius: 3rem;
    border: 1px solid var(--color-negro);
    box-shadow: 0 0.25rem 0 var(--color-negro);
    margin-bottom: 2vw;
    transition: background-color 0.3s ease, height 0.3s ease;
    position: relative;
    font-size: 1.5rem;
}
.evento-en-curso {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}
.frame.evento-en-curso.expanded {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}
.future-event {
    background-color: var(--color-gris);
    color: var(--color-negro);
}
.frame.expanded {
    overflow: visible;
}
.frame-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.frame.expanded .frame-content {
    display: block;
}
.time-wrapper {
    flex-grow: 0;
    margin-right: 1rem;
    overflow-wrap: break-word;
}
.event-description {
    margin: 0;
    flex: 2;
    overflow-wrap: break-word;
}
.plus-icon {
    width: clamp(2rem, 4vw, 4rem);
    height: clamp(2rem, 4vw, 4rem);
    cursor: pointer;
}
.line {
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    background-color: var(--color-negro);
    display: none;
}
.frame.expanded .line {
    display: block;
}
.frame-content {
    display: none;
    padding: 1rem;
    box-sizing: border-box;
}
.flexcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.text {
    width: 100%;
    color: var(--color-negro);
    margin: 0;
}
.btn-meet {
    color: var(--color-negro);
    transition: color 0.3s ease;
}
.btn-meet:hover {
    color: var(--color-rojo);
}
.btn-meet:active {
    color: var(--color-rojo);
}

@media (max-width: 480px) {
    .agenda {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
    }
    .frame {
        width: 95%;
        margin: 0 auto 2 rem auto;
        font-size: 16px;
        padding: 10px;
        box-shadow: 0 0.1rem 0 var(--color-negro);
    }
}

/* #EndRegion */


/* #Region Relaciones */

.contenedor-notificaciones-realaciones {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin-top: 6vh;
    height: auto;
    box-sizing: border-box;
}
.scroll-container,
.scroll-container-2 {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: auto;
    overflow-y: auto;
    padding: 0 10px;
    margin-bottom: 2rem;
}
.scroll-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 15px;
    overflow-y: auto;
    border: 2px solid var(--color-negro);
    border-radius: 10px;
    background-color: var(--color-blanco);
    justify-content: center;
}
.mensaje-sin-relaciones p {
    font-size: 0.8rem;
    color: var(--color-gris);
    text-align: center;
    margin: 0.5rem 0;
}
.rectangle-relaciones {
    background-color: var(--color-gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px;
}
.logo-interes {
    max-width: 50%;
    height: auto;
    object-fit: contain;
}
.text-relaciones {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor-texto-suma {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}
.text-suma-1, .text-suma-2 {
    color: white;
    text-align: center;
    width: 48%;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* #EndRegion */

/* #Region NOTIFICACIONES */


.illustration {
    display: block;
    width: 70%;
    height: auto;
    position: relative;
    top: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* #EndRegion */

/* #Region Listado Empresas */

.scroll-container-empresas{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    overflow-y: auto;
    max-height: calc(2 * 300px + 30px + 20px);
    border: 2px solid var(--color-negro);
    border-radius: 10px;
    background-color: var(--color-blanco);
    justify-content: center;
}
.scroll-container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    overflow-y: auto;
    min-height: calc(300px + 30px + 20px);
    max-height: calc(2 * 300px + 30px + 20px);
    border: 2px solid var(--color-negro);
    border-radius: 10px;
    background-color: var(--color-blanco);
    justify-content: center;
    align-items: center;
}
.rectangle-empresas {
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-gris);
}
.rectangle-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: var(--color-gris);
    border: 2px dashed var(--color-gris);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 150px;
    box-sizing: border-box;
}
.txt-empty {
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.scroll-container-2:empty {
    max-height: calc(1 * 150px + 15px);
}
.logo-container {
    position: relative;
    width: 100%;
    height: 80%;
}
.logo-empresa {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    width: 100%;
    height: 100%;
    max-width: 170px;
    object-fit: contain;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}
/* Capa blanca semitransparente sobre el logo */
.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
/* Estilo para el texto */
.txt-logo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 0;
}
/* Contenedor de los botones en la sección de empresas */
.empresa-info-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--color-blanco);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
/* Botones específicos para esta sección */
.button-container-pk {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
/* Estilo de los iconos */
.icono-empresa {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.icono-empresa:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
.icono-empresa:active {
    transform: scale(0.9);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.scroll-empresas-2 {
    margin-top: 20px;
    width: 100%;
    display: flex !important;
    flex-wrap: wrap !important;
    max-height: calc(2 * 240px + 40px);
    overflow-y: auto;
    border: 2px solid var(--color-azul);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco)
}
.caja-empresa-2 {
    box-sizing: border-box;
    width: 27%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background-color: var(--color-gris);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px;
    border:2px solid var(--color-negro);
    padding: 15px;
    display: inline-block;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.caja-empresa-2:hover {
    transform: scale(1.05);
}
.logo-empresa-2 {
    width: 100%;
    max-width: 280px;
    object-fit: contain;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: contain;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.nombre-empresa-2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}
.button-container-pk-2 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.button-pk {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    width: 100%;
    margin: 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-pk.disabled,
.button-pk:disabled {
    background-color: var(--color-gris);
    color: #a0a0a0;
    cursor: not-allowed;
    transform: none;
}
.button-pk:disabled:hover {
    background-color: var(--color-gris);
    transform: none;
}
.button-pk:hover {
    background-color: rgba(var(--color-azul-rgb), 0.8);
    transform: scale(1.05);
}
.button-pk:active {
    transform: scale(0.95);
}
.filter-buttons .md-button {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}
.filter-buttons .md-button:hover {
    background-color: rgba(var(--color-azul-rgb), 0.7);
    transform: translateY(-2px);
}
.filter-buttons .md-button:active {
    transform: translateY(1px);
}
/* Estilo para el botón activo */
.filter-buttons .md-button.active-filter {
    background-color: var(--color-blanco);
    color: var(--color-azul);
    border: 2px solid var(--color-azul);
    transform: scale(1.05);
}

/* #EndRegion */


/* #Region DETALLES de empresa */
.detalles > div {
    margin-bottom: 20px;
}
.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    cursor: pointer;
    opacity: 1;
}
.close-icon:hover {
    opacity: 0.7;
}
.detalles {
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: auto;
    background-color: transparent;
    border-radius: 45px;
    border: 5px solid var(--color-amarillo);
    margin: 0 auto;
    top: 10px;
    padding: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Indivisa' sans-serif;
    margin-bottom: 30px;
}
.titulo-detalles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.contenedor-arriba, .contenedor-abajo {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rectangle-detalles {
    width: 40%;
    max-width: 25vw;
    min-height: 204px;
    margin-bottom: 20px;
    position: relative;
}
.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--color-azul);
}
.contenedor-video-descripcion {
    display: flex;
    width: 100%;
}
.video-completo {
    width: 100%;
    height: 315px;
    flex-shrink: 0;
}
.descripcion-completa {
    width: 100%;
    margin-left: 20px;
    padding: 15px;
    box-sizing: border-box;
}
.video-parcial {
    width: 50%;
    height: 315px;
    flex-shrink: 0;
}
.descripcion-parcial {
    width: 50%;
    margin-left: 40px;
    max-height: 315px;
    overflow-y: auto;
    padding: 40px;
    box-sizing: border-box;
}
.contenedor-abajo {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.columna-video {
    flex: 1 1 40%;
    min-width: 300px;
}
.columna-scroll {
    flex: 1 1 40%;
    max-height: 25vw;
    overflow-y: auto;
    padding: 10px;
    background-color: #F3F3F3;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.video-spot {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 25vw - 20px);
}
.subtitulo-detalles {
    font-weight: 500;
}
.text-detalles {
    margin-top: 0;
    margin-bottom: 0;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.button {
    display: flex;
    width: 96px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    background-color: #F3F3F3;
    border-radius: 25px;
    font-size: 18px;
    line-height: normal;
    border: none;
    text-align: center;
    box-sizing: border-box;
}
.button:hover,
.button:active {
    border: 2px solid #2B2B2A;
    opacity: 1;
}

/* #EndRegion */

/* Botones de filtro */

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.md-button {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.md-button:hover {
    background-color: rgba(var(--color-azul-rgb), 0.7);
    transform: translateY(-2px);
}
.md-button:active {
    transform: translateY(1px);
}

/* Vista para tabletas (768px o menos) */

@media (max-width: 768px) {
    .scroll-container-empresas, .scroll-empresas-2 {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }
    .rectangle-empresas, .caja-empresa-2 {
        width: 45%;
        margin-bottom: 15px;
    }
}

/* Ajuste para móviles (480px o menos) */

@media (max-width: 480px) {
    .scroll-container-empresas, .scroll-empresas-2 {
        flex-direction: column;
        align-items: center;
        width: 90%;
        box-sizing: border-box;
        overflow-y: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .rectangle-empresas, .caja-empresa-2 {
        width: 90%;
        margin-bottom: 15px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    .filter-buttons .md-button {
        flex: 1 1 calc(100% - 10px);
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 375px) {
    .scroll-container-empresas {
        overflow-y: auto;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    .rectangle-empresas {
        width: 100%;
        margin: 0 auto 15px auto;
        align-items: center;
        justify-content: center;
    }
    .filter-buttons .md-button {
        flex: 1 1 calc(100% - 10px);
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
}

/* .notificaciones {
    background-color: var(--color-rojo);
    border-radius: 3rem;
    border: 2px solid black;
    box-shadow: 1px 0.3vw 1px var(--color-negro);
    box-sizing: border-box;
    position: relative;
}
.fondo-notificaciones {
    padding: 1rem;
    background-color: var(--color-blanco);
    border-radius: 0.7vw;
}
.texto-titulo-notificaciones {
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--color-negro);
}
.text-line-container {
    position: relative;
    margin-top: 3rem;
    overflow-y: auto;
    max-height: 80%;
}
.text-notificaciones {
    width: 90%;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-blanco);
}
.line-notificaciones {
    display: block;
    width: 90%;
    height: 1px;
    background-color: var(--color-blanco);
    margin-left: 2rem;
} */