<div class="feriaPage" id="feriaPage">
    <!-- Agenda -->
    <div class="agenda" id="agenda" *ngIf="userType !== 3">
        <h2>Agenda</h2>
        <div *ngFor="let evento of eventosAgenda; let i = index"
            class="frame"
            [ngClass]="{ 'expanded': evento.isExpanded, 'collapsed': !evento.isExpanded, 'evento-en-curso': evento.enCurso }">

            <!-- Encabezado del evento -->
            <div class="frame-header">
                <div class="time-wrapper">
                    <!-- Cambiar hora de inicio y final usando pipes de fecha -->
                    {{ evento.horario_start | date: 'HH:mm' }} a {{ evento.horario_end | date: 'HH:mm' }}
                </div>
                <!-- Cambiar la descripción a nombre del evento -->
                <p class="event-description">{{ evento.nombre }}</p>
                <img class="plus-icon"
                    [src]="evento.isExpanded ? 'assets/Images/icon-minus.png' : 'assets/Images/icon-plus.png'"
                    alt="Toggle"
                    (click)="toggleFrame($event, evento)"
                />
            </div>
            <!-- Línea separadora que aparece cuando el evento está expandido -->
            <div class="line" *ngIf="evento.isExpanded"></div>
            <!-- Contenido del evento expandido -->
            <div class="frame-content" [ngClass]="{'expanded': evento.isExpanded}">
                <div class="flexcontainer">
                    <!-- Botón para unirse a la reunión -->
                    <a *ngIf="evento.meet_url" (click)="openMeetLink(evento.meet_url)" class="btn-meet">
                        Unirse a la reunión
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- MOSTRAR EL POPUP -->
    <app-popup #popupComponent></app-popup>

    <!-- Botones de selección -->
    <div class="filter-buttons">
        <button 
            class="md-button" 
            [ngClass]="{'active-filter': filtroActivo === 'todas'}" 
            (click)="mostrarTodas()">
            Mostrar todas
        </button>
        <button 
            class="md-button" 
            *ngIf="userType === 1"
            [ngClass]="{'active-filter': filtroActivo === 'misIntereses'}" 
            (click)="mostrarMisIntereses()">
            Mis intereses ({{ relacionesVenta.length }})
        </button>
        <button 
            class="md-button" 
            *ngIf="userType === 1"
            [ngClass]="{'active-filter': filtroActivo === 'interesadas'}" 
            (click)="mostrarInteresadas()">
            Interesadas en mí ({{ relacionesCompra.length }})
        </button>
        <button 
            class="md-button" 
            [ngClass]="{'active-filter': filtroActivo === 'miVoto'}"
            (click)="mostrarMiVoto()">
            Mi voto
        </button>
    </div>


    <!-- Contenedor para mostrar todas las empresas -->
    <div *ngIf="mostrarTodasEmpresas" class="scroll-container-empresas">
        <div *ngFor="let empresa of empresas" class="rectangle-empresas" (click)="mostrarDetalles(empresa.id_empresa)">
            <img [src]="empresa.logoUrl" alt="{{ empresa.nombre }}" class="logo-empresa">
            <p class="txt-logo">{{ empresa.nombre_empresa }}</p>
            <!--
                <div class="button-container-pk-2">
                -->
                    <!-- Botón de interés -->
                <!--
                    <button class="button-pk" (click)="agregarOEliminarInteres()">
                        {{ isInteresadoEnEmpresa() ? 'Eliminar interés' : 'Me interesa' }}
                    </button>
                -->
                    <!-- Botón votar (aparece siempre, pero deshabilitado si no tiene spot) -->
                <!--
                    <button 
                        class="button-pk" 
                        [disabled]="!empresaSeleccionada?.spot" 
                        [ngClass]="{ 'disabled': !empresaSeleccionada?.spot }" 
                        (click)="empresaSeleccionada?.spot ? votar() : null">
                        Votar
                    </button>
                    -->
                    <!-- Botón eliminar voto -->
                <!--
                    <button *ngIf="yaVotado" class="button-pk" (click)="eliminarVoto()">Eliminar voto</button>
                </div>
                -->
        </div>
    </div>

    <!-- Contenedor para mostrar mis intereses -->
    <div *ngIf="mostrarMisInteresesEmpresas" class="scroll-empresas-2">
        <!-- Si hay empresas en mis intereses, mostramos la lista -->
        <div *ngIf="relacionesVenta.length > 0">
            <div *ngFor="let venta of relacionesVenta" class="caja-empresa-2" (click)="mostrarDetalles(venta.id_empresaCompradora)">
                <div class="logo-empresa-2">
                    <img [src]="venta.logo" alt="{{ venta.nombre_empresa }}" class="logo-empresa-2">
                </div>
                <p class="nombre-empresa-2">{{ venta.nombre_empresa }}</p>
                <!--
                <div class="button-container-pk-2">
                -->
                    <!-- Botón de interés -->
                <!--
                    <button class="button-pk" (click)="agregarOEliminarInteres()">
                        {{ isInteresadoEnEmpresa() ? 'Eliminar interés' : 'Me interesa' }}
                    </button>
                -->
                    <!-- Botón votar (aparece siempre, pero deshabilitado si no tiene spot) -->
                <!--
                    <button 
                        class="button-pk" 
                        [disabled]="!empresaSeleccionada?.spot" 
                        [ngClass]="{ 'disabled': !empresaSeleccionada?.spot }" 
                        (click)="empresaSeleccionada?.spot ? votar() : null">
                        Votar
                    </button>
                    -->
                    <!-- Botón eliminar voto -->
                <!--
                    <button *ngIf="yaVotado" class="button-pk" (click)="eliminarVoto()">Eliminar voto</button>
                </div>
                -->
            </div>
            <!-- Si no hay empresas en mis intereses, mostramos el mensaje -->
            <div *ngIf="relacionesVenta.length === 0" class="rectangle-empty">
                <p class="txt-empty">Aquí aparecerán las empresas que me interesan</p>
            </div>
        </div>
    </div>

    <!-- Contenedor para mostrar interesadas en mí -->
    <div *ngIf="mostrarInteresadasEnMi" class="scroll-empresas-2">
        <!-- Si hay empresas interesadas, mostramos la lista -->
        <div *ngIf="relacionesCompra.length > 0">
            <div *ngFor="let compra of relacionesCompra" class="caja-empresa-2" (click)="mostrarDetalles(compra.id_empresaVendedora)">
                <img [src]="compra.logo" alt="{{ compra.nombre_empresa }}" class="logo-empresa-2">
                <p class="nombre-empresa-2">{{ compra.nombre_empresa }}</p>
                <!--
                <div class="button-container-pk-2">
                -->
                    <!-- Botón de interés -->
                <!--
                    <button class="button-pk" (click)="agregarOEliminarInteres()">
                        {{ isInteresadoEnEmpresa() ? 'Eliminar interés' : 'Me interesa' }}
                    </button>
                -->
                    <!-- Botón votar (aparece siempre, pero deshabilitado si no tiene spot) -->
                <!--
                    <button 
                        class="button-pk" 
                        [disabled]="!empresaSeleccionada?.spot" 
                        [ngClass]="{ 'disabled': !empresaSeleccionada?.spot }" 
                        (click)="empresaSeleccionada?.spot ? votar() : null">
                        Votar
                    </button>
                    -->
                    <!-- Botón eliminar voto -->
                <!--
                    <button *ngIf="yaVotado" class="button-pk" (click)="eliminarVoto()">Eliminar voto</button>
                </div>
                -->
            </div>
        </div>
    
        <!-- Si no hay empresas interesadas, mostramos el mensaje -->
        <div *ngIf="relacionesCompra.length === 0" class="rectangle-empty">
            <p class="txt-empty">Aquí aparecerán las empresas interesadas en mí</p>
        </div>
    </div>

    <!-- Contenedor para mostrar "Mi voto" -->
<div *ngIf="filtroActivo === 'miVoto'" class="scroll-empresas-2">
    <div *ngIf="empresasVotadas.length > 0" class="rectangle-empresas">
        <div *ngFor="let empresa of empresasVotadas" class="caja-empresa" (click)="mostrarDetalles(empresa.id_empresa)">
            <img [src]="empresa.logoUrl" alt="{{ empresa.nombre_empresa }}" class="logo-empresa">
            <p class="nombre-empresa">{{ empresa.nombre_empresa }}</p>
        </div>
    </div>
    <div *ngIf="empresasVotadas.length === 0" class="rectangle-empty">
        <p class="txt-empty">Aquí aparecerán las empresas que has votado</p>
    </div>
</div>

    <!-- Ilustración -->
    <img class="illustration" src="assets/Illustrations/Illustration4.png">

    <!-- Detalle empresas -->
    <div *ngIf="empresaSeleccionada" class="detalles" id="detalles">
        <div class="titulo">
            <p>Detalles de {{ empresaSeleccionada.nombre_empresa }}</p>
        </div>
        
        <img src="assets/Images/icon-plus.png" class="close-icon" alt="Cerrar" (click)="cerrarDetalles()"/>

        <div class="contenedor-arriba">
            <div class="rectangle-detalles">
                <img *ngIf="empresaSeleccionada.logo" [src]="empresaSeleccionada.logo" alt="Logotipo de {{ empresaSeleccionada.nombre_empresa }}" class="logo-img"/>
            </div>
            <p class="empresa">
                <span class="subtitulo-detalles">{{ empresaSeleccionada.nombre_empresa }}</span>
                <br class="text-detalles">
                <br/><strong>Página web:</strong> <a [href]="empresaSeleccionada.web" target="_blank">{{ empresaSeleccionada.web }}</a>
                <br/><strong>Horarios de ATENCIÓN CLIENTE:</strong>
                <br/> - {{ horariosDeAtencionManana }}
                <br/> - {{ horariosDeAtencionTarde }}
                <br/><br/><strong>Enlace de MEET:</strong> <a [href]="empresaSeleccionada.url_meet" target="_blank">{{ empresaSeleccionada.url_meet }}</a><br/>
            </p>
        </div>

        <div class="contenedor-abajo" *ngIf="empresaSeleccionada">
            <div class="contenedor-video-descripcion">
                <!-- Si hay solo video -->
                <ng-container *ngIf="empresaSeleccionada.spot && !empresaSeleccionada.descripcion">
                    <iframe
                        [src]="getEmbedUrl(empresaSeleccionada.spot)"
                        class="video-completo"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                </ng-container>
                <!-- Si hay solo descripción -->
                <ng-container *ngIf="!empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                    <div class="descripcion-completa">
                        <p>{{ empresaSeleccionada.descripcion }}</p>
                    </div>
                </ng-container>
                <!-- Si hay video y descripción -->
                <ng-container *ngIf="empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                    <iframe
                        [src]="getEmbedUrl(empresaSeleccionada.spot)"
                        class="video-parcial"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                    <div class="descripcion-parcial">
                        <p>{{ empresaSeleccionada.descripcion }}</p>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="button-container" *ngIf="!ocultarBotonesDeInteraccion">
            <button class="button" *ngIf="!yaVotado && spotUrl" (click)="votar()">Votar</button>
            <button class="button" *ngIf="yaVotado" (click)="eliminarVoto()">Eliminar Voto</button>
            <button class="button" *ngIf="userType === 1 && empresaSeleccionada" (click)="agregarOEliminarInteres()">
                {{ isInteresadoEnEmpresa() ? 'Eliminar interés' : 'Me interesa' }}
            </button>
        </div>
    </div>
</div>


    <!-- Mis relaciones comerciales -->
    <!-- <div class="mis-relaciones"  *ngIf="userType !== 3">
        <div class="titulo-notificaciones">
            <div class="fondo-notificaciones">
                <div class="texto-titulo-notificaciones">Mis relaciones comerciales</div>
            </div>
        </div>
        <div class="contenedor-realaciones">
            <div class="overlap-relaciones-1">
                <div class="text-relaciones">Mis intereses</div>
                <div class="scroll-container">
                    <div *ngIf="relacionesVenta.length === 0" class="mensaje-sin-relaciones">
                        <p>Aquí aparecerán las empresas que me interesan</p>
                    </div>
                    <div *ngFor="let venta of relacionesVenta" class="rectangle-relaciones" (click)="mostrarDetalles(venta.id_empresaCompradora)">
                        <img *ngIf="venta.logo" [src]="venta.logo" alt="{{ venta.nombre_empresa }}" class="logo-interes">
                    </div>
                </div>
            </div>

            <div class="overlap-relaciones-2">
                <div class="text-relaciones">Interesados en mí</div>
                <div class="scroll-container">
                    <div *ngIf="relacionesCompra.length === 0" class="mensaje-sin-relaciones">
                        <p>Aquí aparecerán los interesados en mí</p>
                    </div>
                    <div *ngFor="let compra of relacionesCompra" class="rectangle-relaciones" (click)="mostrarDetalles(compra.id_empresaVendedora)">
                        <img *ngIf="compra.logo" [src]="compra.logo" alt="{{ compra.nombre_empresa }}" class="logo-interes">
                    </div>
                </div>
            </div>
        </div>

        <div class="contenedor-texto-suma">
            <div class="text-suma-1">Total: {{ relacionesVenta.length }} <br/>empresas</div>
            <div class="text-suma-2">Total: {{ relacionesCompra.length }} <br/>empresas</div>
        </div>
    </div> -->

        <!-- Listado empresas -->
    <!-- <div class="titulo" id="empresas">
        <p>Empresas participantes</p>
    </div>
    <div class="scroll-container-2">
        <div *ngFor="let empresa of empresas" class="rectangle-empresas" (click)="mostrarDetalles(empresa.id_empresa)">
            <div class="logo-container">
                <div *ngIf="haVotadoPorEmpresa(empresa.id_empresa)" class="logo-overlay"></div>
                <img [src]="empresa.logoUrl" alt="{{ empresa.nombre }}" class="logo-empresa">

                <div *ngIf="haVotadoPorEmpresa(empresa.id_empresa)" class="icono-container">
                    <img src="assets/Images/Icon_MEGUSTA.svg" alt="Voto" class="icono-gusta" />
                </div>
            </div>
            <p class="txt-logo">
                {{ empresa.nombre_empresa }}
            </p>
        </div>
    </div> -->