<div class="titulo">
    <p>Empresas participantes</p>
</div>

<!-- Cuadro de empresas -->
<div class="container">
    <div *ngFor="let empresa of empresas" class="item">
        <div class="rectangulo">
            <img [src]="empresa.logo" alt="{{ empresa.nombre_empresa }} logo">
        </div>
        <p>{{ empresa.nombre_empresa }}</p>
        <div class="iconos-container">
            <!-- Mostrar icono OK si tiene nombre -->
            <img *ngIf="empresa.mostrarIconoOK" src="assets/Images/icon_OK.svg" alt="Icono OK" class="icono">
            
            <!-- Mostrar icono SPOT si tiene spot -->
            <img *ngIf="empresa.mostrarIconoSPOT" src="assets/Images/icon_SPOT.svg" alt="Icono Spot" class="icono">
            
            <!-- Mostrar icono FALTAINFO si no tiene logo -->
            <img *ngIf="empresa.mostrarIconoFALTAINFO" src="assets/Images/icon_FALTAINFO.svg" alt="Icono Sin Logo" class="icono">
        </div>
          
    </div>
</div>

<!-- subir archivos y top 3 -->
<div class="container_2">
        <div class="top3">
            <p>Votaciones en tiempo real</p>
            <div class="podium">
                <ng-container *ngIf="empresas.length > 0">
                    <div *ngFor="let empresa of empresas" class="podium-item">
                        <div class="podium-content">
                            <img src="assets/Illustrations/trofeo.png" class="trophy-img">
                            <img [src]="empresa.logo" alt="Logo de {{empresa.nombre}}" class="company-logo">
                        </div>
                        <p class="company-name">{{empresa.nombre}}</p>
                        <p class="votos-text">Votos: {{ empresa.votos }}</p> <!-- Mostrar el número de votos aquí -->
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="enlaces">
            <div class="label">
                <div class="text-wrapper" >Enlaces a meet</div>
                <img src="assets/Images/line.png" alt="Línea" class="line">
            </div>
            <div *ngFor="let empresa of empresas" class="meet-link">
                <a [href]="empresa.url_meet" target="_blank">{{empresa.nombre_empresa}}</a>
                <img src="assets/Images/line.png" alt="Línea" class="line">
            </div>
        </div>
</div>
<!-- <div class="illustration_2">
    <img src="assets/Illustrations/Illustration6.png" alt="Ilustración" class="illustration">
</div> -->

