<div class="titulo">
    <p>Empresas participantes</p>
</div>

<!-- Cuadro de empresas -->
<div class="container">
    <div *ngFor="let empresa of empresas" class="item">
        <div class="rectangulo" (click)="mostrarDetalles(empresa.id_empresa)">
            <img [src]="empresa.logo" alt="{{ empresa.nombre_empresa }} logo">
        </div>
        <p>{{ empresa.nombre_empresa }}</p>
        <div class="iconos-container">
            <!-- Mostrar icono OK si tiene nombre -->
            <img *ngIf="empresa.mostrarIconoOK" src="assets/Images/icon_OK.svg" alt="Icono OK" class="icono">
            
            <!-- Mostrar icono SPOT si tiene spot -->
            <img *ngIf="empresa.mostrarIconoSPOT" src="assets/Images/icon_SPOT.svg" alt="Icono Spot" class="icono">
            
            <!-- Mostrar icono FALTAINFO si no tiene logo -->
            <img *ngIf="empresa.mostrarIconoFALTAINFO" src="assets/Images/icon_FALTAINFO.svg" alt="Icono Sin Logo" class="icono">
        </div>
          
    </div>
</div>

<!-- subir archivos y top 3 -->
<div class="container_2">
        <div class="top3">
            <p>Votaciones en tiempo real</p>
            <div class="podium">
                <ng-container *ngIf="empresas.length > 0">
                    <div *ngFor="let empresa of empresas" class="podium-item">
                        <div class="podium-content">
                            <img src="assets/Illustrations/trofeo.png" class="trophy-img">
                            <img [src]="empresa.logo" alt="Logo de {{empresa.nombre}}" class="company-logo" (click)="mostrarDetalles(empresa.id_empresa)">
                        </div>
                        <p class="company-name">{{empresa.nombre}}</p>
                        <p class="votos-text">Votos: {{ empresa.votos }}</p> <!-- Mostrar el número de votos aquí -->
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="enlaces">
            <div class="label">
                <div class="text-wrapper" >Enlaces a meet</div>
                <img src="assets/Images/line.png" alt="Línea" class="line">
            </div>
            <div *ngFor="let empresa of empresas" class="meet-link">
                <a [href]="empresa.url_meet" target="_blank">{{empresa.nombre_empresa}}</a>
                <img src="assets/Images/line.png" alt="Línea" class="line">
            </div>
        </div>
</div>
<!-- <div class="illustration_2">
    <img src="assets/Illustrations/Illustration6.png" alt="Ilustración" class="illustration">
</div> -->

<!-- Mostrar DETALLES de Empresa -->

<div *ngIf="empresaSeleccionada" class="detalles" id="detalles">
    <div class="titulo-detalles">
        <div class="titulo">Detalles de {{ empresaSeleccionada.nombre_empresa }}</div>
    </div>

    <img src="assets/Images/icon-plus.png" class="close-icon" alt="Cerrar" (click)="cerrarDetalles()"/>

    <div class="contenedor-arriba">
        <div class="rectangle-detalles">
            <img *ngIf="empresaSeleccionada.logo" [src]="empresaSeleccionada.logo" alt="Logotipo de {{ empresaSeleccionada.nombre_empresa }}" class="logo-img"/>
        </div>
        <p class="empresa">
            <span class="subtitulo-detalles">{{ empresaSeleccionada.nombre_empresa }}</span>
            <br class="text-detalles">
                <br/>Página web: <a [href]="empresaSeleccionada.web" target="_blank">{{ empresaSeleccionada.web }}</a>
                <br/>Horarios de ATENCIÓN CLIENTE:
                <br/> - {{ horariosDeAtencionManana }}
                <br/> - {{ horariosDeAtencionTarde }}
                <br/>Enlace de MEET: <a [href]="empresaSeleccionada.url_meet" target="_blank">{{ empresaSeleccionada.url_meet }}</a><br/>
        </p>
    </div>

    <div class="contenedor-abajo" *ngIf="empresaSeleccionada">
        <div class="contenedor-video-descripcion">
            <ng-container *ngIf="empresaSeleccionada.spot && !empresaSeleccionada.descripcion">
                <iframe
                    [src]="getEmbedUrl(empresaSeleccionada.spot)"
                    class="video-completo"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            </ng-container>
            <ng-container *ngIf="!empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                <div class="descripcion-completa">
                    <p>{{ empresaSeleccionada.descripcion }}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                <iframe
                    [src]="getEmbedUrl(empresaSeleccionada.spot)"
                    class="video-parcial"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
                <div class="descripcion-parcial">
                    <p>{{ empresaSeleccionada.descripcion }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>