<div class="titulo">
    <p>Panel de administración</p>
</div>

<!-- Botones de filtro -->
<div class="filter-buttons">
    <button
        class="md-button"
        [class.active-filter]="filtroActivo === 'registradas'"
        (click)="filtrarEmpresas('registradas')">
        Registradas
    </button>
    <button
        class="md-button"
        [class.active-filter]="filtroActivo === 'sin-registrar'"
        (click)="filtrarEmpresas('sin-registrar')">
        Sin Registrar
    </button>

    <button
        class="md-button"
        [class.active-filter]="filtroActivo === 'votaciones'"
        (click)="filtrarEmpresas('votaciones')">
        Votaciones
    </button>
    <button
        class="md-button"
        [class.active-filter]="filtroActivo === 'meets'"
        (click)="filtrarEmpresas('meets')">
        Meets
    </button>
    
</div>

<!-- Contenedor de empresas filtradas -->
<div *ngIf="filtroActivo === 'registradas'">
    <div class="scroll-container-empresas">
        <div *ngFor="let empresa of empresasFiltradas" class="rectangle-empresas" (click)="mostrarDetalles(empresa.id_empresa)">
            <img [src]="empresa.logo" alt="{{ empresa.nombre_empresa }} logo" class="logo-empresa">
            <p class="empresa-nombre">{{ empresa.nombre_empresa }}</p>
            <div class="iconos-container">
                <img *ngIf="empresa.mostrarIconoOK" src="assets/Images/Icon_OK.png" alt="Icono OK" class="icono">
                <img *ngIf="empresa.mostrarIconoSPOT" src="assets/Images/Icon_SPOT.png" alt="Icono Spot" class="icono">
            </div>
        </div>
    </div>
</div>

<!-- Usuarios sin contraseña -->
<div *ngIf="filtroActivo === 'sin-registrar'">
    <div class="scroll-container-empresas">
        <div *ngFor="let usuario of usuariosSinPassword" class="rectangle-empresas">
            <div class="logo-container">
                <img src="assets/Images/Icon_SINLOGO.png" alt="Sin Logo" class="logo-empresa">
            </div>
            <p class="empresa-nombre">{{ usuario.email }}</p>
            <div class="iconos-container">
                <img src="assets/Images/Icon_FALTAINFO.png" alt="Icono Sin Información" class="icono-2">
            </div>
        </div>
    </div>
</div>

<!-- Votaciones top 3 -->
<div *ngIf="filtroActivo === 'votaciones'">
    <div class="top3">
        <div class="podium">
            <ng-container *ngIf="empresas.length > 0">
                <div *ngFor="let empresa of empresas" class="podium-item">
                    <div class="podium-content">
                        <img src="assets/Illustrations/trofeo.png" class="trophy-img">
                        <img [src]="empresa.logo" alt="Logo de {{empresa.nombre}}" class="company-logo" (click)="mostrarDetalles(empresa.id_empresa)">
                    </div>
                    <p class="company-name">{{empresa.nombre}}</p>
                    <p class="votos-text">Votos: {{ empresa.votos }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- Enlaces a meet -->
<div *ngIf="filtroActivo === 'meets'">
    <div class="enlaces">
        <div *ngFor="let empresa of empresas" class="meet-link">
            <a [href]="empresa.url_meet" target="_blank">{{empresa.nombre_empresa}}</a>
        </div>
    </div>
</div>

<!-- Detalles de EMPRESA SELECCIONADA -->
<div *ngIf="empresaSeleccionada" class="detalles" id="detalles">
    <div class="titulo">
        <p>Detalles de {{ empresaSeleccionada.nombre_empresa }}</p>
    </div>
    <img src="assets/Images/icon-plus.png" class="close-icon" alt="Cerrar" (click)="cerrarDetalles()"/>
    <div class="contenedor-arriba">
        <div class="rectangle-detalles">
            <img *ngIf="empresaSeleccionada.logo" [src]="empresaSeleccionada.logo" alt="Logotipo de {{ empresaSeleccionada.nombre_empresa }}" class="logo-img"/>
        </div>
        <p class="empresa">
            <span class="subtitulo-detalles">{{ empresaSeleccionada.nombre_empresa }}</span>
            <br class="text-detalles">
            <br/><strong>Página web:</strong> <a [href]="empresaSeleccionada.web" target="_blank">{{ empresaSeleccionada.web }}</a>
            <br/><strong>Horarios de ATENCIÓN CLIENTE:</strong>
            <br/> - {{ horariosDeAtencionManana }}
            <br/> - {{ horariosDeAtencionTarde }}
            <br/><br/><strong>Enlace de MEET:</strong> <a [href]="empresaSeleccionada.url_meet" target="_blank">{{ empresaSeleccionada.url_meet }}</a><br/>
        </p>
    </div>
    <div class="contenedor-abajo" *ngIf="empresaSeleccionada">
        <div class="contenedor-video-descripcion">
            <!-- Si hay solo video -->
            <ng-container *ngIf="empresaSeleccionada.spot && !empresaSeleccionada.descripcion">
                <iframe
                    [src]="getEmbedUrl(empresaSeleccionada.spot)"
                    class="video-completo"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            </ng-container>
            <!-- Si hay solo descripción -->
            <ng-container *ngIf="!empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                <div class="descripcion-completa">
                    <p>{{ empresaSeleccionada.descripcion }}</p>
                </div>
            </ng-container>
            <!-- Si hay video y descripción -->
            <ng-container *ngIf="empresaSeleccionada.spot && empresaSeleccionada.descripcion">
                <iframe
                    [src]="getEmbedUrl(empresaSeleccionada.spot)"
                    class="video-parcial"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
                <div class="descripcion-parcial">
                    <p>{{ empresaSeleccionada.descripcion }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>