/* Tablero de empresas */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    background-color: yellow;
    border: 1px solid #ccc;
    border-radius: 45px;
    box-sizing: border-box;
    margin-top: 2rem;
}

.item {
    flex: 1 1 calc(33.333% - 20px);
    margin: 5px;
    box-sizing: border-box;
}

.rectangulo {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px;
}

.rectangulo img {
    height: 100%;
    width: auto;
}

p {
    text-align: center;
    margin: 10px 0 0 0;
}

.iconos-container {
    display: flex;
    gap: 10px; /* Espaciado entre iconos */
    justify-content: center; /* Centra los iconos horizontalmente */
    margin-top: 10px;
}

.icono {
    width: 24px; /* Tamaño del icono */
    height: 24px;
    fill: currentColor; /* Permite usar el color del texto del contenedor */
}

/* Top3 y enlaces */
.container_2 {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem;
    justify-content: space-between;
    align-items: stretch;
    height: 75vh;
    box-sizing: border-box;
    gap: 2rem;
    margin: 0 auto;
}

.top3, .enlaces {
    width: 50%;
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: white;
    text-align: center;
    box-sizing: border-box;
    overflow: auto; /* Añade barras de desplazamiento si el contenido excede el área visible */
}

.top3 {
    background-color: green;
}

.enlaces {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.enlaces {
    overflow-y: auto; /* Asegura que se pueda hacer scroll vertical en caso de más contenido */
}

.podium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.podium-item {
    text-align: center;
    margin: 10px 0;
}

.podium-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.trophy-img {
    max-width: 50px;
    height: auto;
    margin-right: 3rem; /* Espacio entre el trofeo y el logo */
}

.company-logo {
    max-width: 100px;
    height: auto;
}

.puesto-text {
    margin: 10px 0;
}

.company-name {
    font-weight: bold;
}


.podium-item p {
    margin-top: 5px;
    font-size: 0.8em;
}

.illustration {
    position: absolute;
    width: 30%;
    height: auto;
    right: 50px;
    bottom: -20vh;
    z-index: 0;
    object-fit: cover;
}

.enlaces a {
    color: yellow;
    text-decoration: none;
    display: block;
    margin: 0.3rem 0;
    font-size: smaller;
}

.enlaces a:hover {
    text-decoration: underline; /* Subrayado en hover */
}

.illustration_2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    margin-bottom: -30vh;
    max-width: 40vw;
}