/* Estilos generales del formulario */
form {
    background-color: #121212; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos de los labels */
  label {
    display: block;
    margin-bottom: 5px;
    color: #ffdd00; /* Amarillo */
  }
  
  /* Estilos de los inputs */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="time"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="time"]:focus,
  textarea:focus,
  select:focus {
    border-color: #0066cc; /* Azul oscuro */
    outline: none;
  }
  
  /* Estilos del botón */
  button[type="submit"] {
    background-color: #ff0000; /* Rojo */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #cc0000; /* Rojo oscuro */
  }
  
  /* Estilos específicos para el contenedor de campos de empresa */
  div[ngIf="rol == 1"] {
    border: 1px solid #ffdd00; /* Amarillo */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  /* Estilos específicos para el contenedor de campos de visitante */
  div[ngIf="rol == 2"] {
    border: 1px solid #0066cc; /* Azul oscuro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  