.sobre-nosotros {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(var(--color-azul-rgb), 0.3);
    border: 2px solid var(--color-azul);
    border-radius: 10px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
.titulo-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color: var(--color-amarillo);
    border-radius: 5px;
    /* border: 2px solid var(--color-azul); */
    padding: 10px;
}
.titulo-seccion p{
    font-size: 32px;
    color: var(--color-azul);
}
.fotos-individuales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba((--color-azul-rgb),0.1);
    padding: 15px;
    /* border-radius: 10px; */
    /* border: 2px solid var(--color-azul); */
    margin-top: 20px;
}
.fotos-individuales p {
    font-size: 0.3rem;
    margin: 0;
    text-align: center;
}
.foto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    /* border-radius: 50%; */
    padding: 20px;
}
.foto-container img {
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid var(--color-azul)
}
.foto-container p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
}
.foto-container p:nth-of-type(2) {
    font-size: 0.7rem;
    margin-top: 0.2rem;
    color: var(--color-negro);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.experiencia {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
    background-color: var(--color-blanco);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--color-rojo);
}
.experiencia h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-rojo);
}
.foto-grupo {
    text-align: center;
    margin-bottom: 20px;
}
.foto-grupo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 5px solid var(--color-amarillo);
}

/* Ubicación */

.localizacion {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgba(var(--color-azul-rgb), 0.3);
}
.localizacion h3 {
    color: var(--color-rojo);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.localizacion p, .localizacion address {
    color: var(--color-negro);
    margin-bottom: 10px;
}
.imagen-localizacion-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: stretch;
    gap: 20px;
    margin: 20px 0;
}
.imagen-localizacion {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 45%;
    border: 1px solid var(--color-azul);
    border-radius: 10px;
    display: flex;
    align-items: stretch;
}
.imagen-localizacion img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid var(--color-azul);
}
.center-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.localizacion a {
    display: inline-block;
    background-color: rgba(var(--color-rojo-rgb), 0.5);
    color: var(--color-negro);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.localizacion a:hover {
    background-color: rgba(var(--color-rojo-rgb), 0.5);
}

@media (max-width: 768px) {
    .fotos-individuales {
        flex-direction: column;
        gap: 20px;
    }
    .foto-container img {
        width: 100px;
        height: 100px;
    }
    .foto-grupo img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .sobre-nosotros {
        width: 95%;
        margin: 0 auto;
    }
    .imagen-localizacion-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    .imagen-localizacion {
        max-width: 100%;
        margin: 0 auto;
    }
}