<div class="titulo">
    <p>
        Empresas participantes
    </p>
</div>

<!-- Cuadro de empresas -->
<div class="container">
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
    <div class="item">
        <div class="rectangulo"></div>
        <p>Colegio</p>
        <div class="buttons">
            <button class="edit-button">Editar</button>
            <button class="delete-button">Eliminar</button>
        </div>
    </div>
</div>

<!-- subir archivos y top 3 -->
<div class="container_2">
    <div class="subir">
        <p>Subir archivos</p>
        <div class="Actualizar-Agenda">
            <div class="heading agenda">
                <div class="label">
                    <div class="text-wrapper">Agenda SimulaFEST 2025</div>
                </div>
                <div class="link">
                    <div class="icon">
                        <img class="arrow" src="assets/Images/icon-descarga.png" alt="Icono de descarga" />
                    </div>
                    <div class="div">Actualizar</div>
                </div>
            </div>
            <div class="heading bases">
                <div class="label">
                    <div class="text-wrapper">Bases del concurso</div>
                </div>
                <div class="link">
                    <div class="icon">
                        <img class="arrow" src="assets/Images/icon-descarga.png" alt="Icono de descarga" />
                    </div>
                    <div class="div">Actualizar</div>
                </div>
            </div>
        </div>
    </div>
        <div class="top3">
            <p>Top 3 (Tiempo real)</p>
            <div class="podium">
                <div class="podium-item">
                    <img src="assets/Illustrations/trofeo.png" alt="Tercer Puesto" class="third-place">
                    <p>Tercer Puesto</p>
                </div>
                <div class="podium-item">
                    <img src="assets/Illustrations/trofeo.png" alt="Primer Puesto" class="first-place">
                    <p>Primer Puesto</p>
                </div>
                <div class="podium-item">
                    <img src="assets/Illustrations/trofeo.png" alt="Segundo Puesto" class="second-place">
                    <p>Segundo Puesto</p>
                </div>
                <div class="illustration">
                    <img src="assets/Illustrations/Illustration6.png" alt="Ilustración" class="illustration">
                </div>
            </div>
        </div>
</div>

<!-- Estadísticas y Enlaces meet -->

<div class="container_3">
    <div class="label">
        <div class="text-wrapper">Enlaces a meet</div>
    </div>
    <p>Enlace de la empresa X</p>
    <img src="assets/Images/line.png" alt="Línea" class="line">
    <p>Enlace de la empresa X</p>
    <img src="assets/Images/line.png" alt="Línea" class="line">
    <p>Enlace de la empresa X</p>
    <img src="assets/Images/line.png" alt="Línea" class="line">
    <p>Enlace de la empresa X</p>
    <img src="assets/Images/line.png" alt="Línea" class="line">
</div>