/*
GREEN - #60A96E
BLUE - #384078
RED - #AC3635
YELLOW - #F6E953
DARK - #2B2B2A
LIGHT - #F3F3F3
*/

/* #region AGENDA */
.agenda {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.titulo {
    display: inline-flex;
    align-items: center;
    background-color: #2B2B2A;
    border-radius: 8px;
}

.titulo p {
    margin: 2vh;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.5vw;
    color: #F3F3F3;
}

.frame {
    position: relative;
    width: 90%;
    border-radius: 45px;
    border: 1px solid;
    box-shadow: 0px 0.3vw 0px #2B2B2A;
    transition: height 0.3s ease;
    overflow: hidden;
    margin-top: 1vh;
}

.frame.collapsed {
    margin-top: 8vh;
    height: 3vw;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    box-sizing: border-box;
}

.frame.expanded {
    margin-top: 3vh;
    height: 15vw; /* Altura cuando está expandido */
    background-color: #60A96E;
}

.frame-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.line {
    position: absolute;
    width: 90%;
    height: 0.1vw;
    left: 5%;
    display: none; /* Oculta por defecto */
}

.frame.expanded .line {
    display: block; /* Muestra la línea solo cuando está expandido */
}

.frame-content {
    width: 100%;
    overflow-y: auto;
    max-height: 90%;
    padding: 1vw;
}
.frame-content .text {
    font-size: 1vw;
    line-height: 1.5;
    margin-left: 2vw;
}

.frame.expanded .frame-content {
    display: block; /* Muestra el contenido solo cuando está expandido */
}
.frame.collapsed .frame-content {
    display: none; /* Hide content when collapsed */
}
.plus-icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.minus-icon{
    display: none;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.frame.expanded .plus-icon {
    display: none;
}

.frame.expanded .minus-icon {
    display: block;
}

.text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #f3f3f3;
    font-size: 1vw;
    line-height: 28px;
    margin: 0;
}

.div-wrapper {
    color: #2B2B2A; /* Negro cuando colapsado */
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.5vw;
    margin-left: 20px;
    overflow: hidden;
}
/* #endregion*/


/* #region NOTIFICACIONES */
.notificaciones {
    width: 30vw;
    height: 50vh;
    left: 2vh;
    margin-top: 6vh;
    background-color: #AC3635;
    border-radius: 3vw;
    border: 1px solid #2B2B2A;
    box-shadow: 0px 0.5vw 0px #2B2B2A;
    position: relative;
}

.titulo-notificaciones {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3vh;
    left: 3vw;
}

.fondo-notificaciones {
    padding: 0.5vw 1vw;
    background-color: #F3F3F3;
    border-radius: 0.7vw;
}

.texto-titulo-notificaciones {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.5vw;
    color: #2B2B2A;
}

.text-line-container {
    position: relative;
    margin-top: 14vh;
    overflow-y: auto;
    max-height: 50vh;
}

.text-notificaciones {
    width: 90%;
    margin-left: 2vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1vw;
    color: #F3F3F3;
}

.line-notificaciones {
    display: block;
    width: 90%;
    height: 0.1vh;
    background-color: #F3F3F3;
}

/* #endregion*/

/* #region MIS RELACIONES COMERCIALES */
.mis-relaciones {
    position: relative;
    width: 50vw;
    height: 50vh;
    left: 33vw;
    top: -50.5vh;
    background-color: #384078;
    border-radius: 45px;
    border: 1px solid;
    box-shadow: 0px 5px 0px #2B2B2A;
}

.overlap-relaciones-1, .overlap-relaciones-2 {
    position: absolute;
    width: 45%;
    height: 70%;
    top: 20%;
    left: 2vw;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 0.5vw solid;
    border-color: #2B2B2A;
    overflow-y: auto;
    padding: 1vw;
    box-sizing: border-box;
}

.overlap-relaciones-2 {
    left: 26vw; 
}

.scroll-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}

.rectangle-relaciones {
    width: 6vw;
    height: 4vw;
    background-color: #D9D9D9;
}
.text-relaciones-1, .text-relaciones-2 {
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.5vw;
    color: #2B2B2A;
}

.text-suma {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1vw;
    color: #2B2B2A;
    bottom: 1vw;
}

/* #endregion*/

/* --------------- IUSTRACION --------------- */
.illustration {
    display: block;
    width: 50vw;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: -25vw;
}

/* --------------- LISTADO EMPRESAS --------------- */
.listado-empresas {
    position: relative;
    width: 1156px;
    height: 942px;
    margin: 0, auto;
    margin-top: 10vw;
    margin-bottom: 200px;
}

.overlap-empresas {
    position: absolute;
    width: 1156px;
    height: 846px;
    top: 96px;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 5px solid;
    border-color: #2B2B2A;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 47px 39px;
    padding: 47px 39px;
    overflow-y: auto; /* Habilita el scroll vertical */
}

.rectangle-empresas {
    width: 100%;
    height: 200px;
    background-color: #D9D9D9;
}

.titulo-empresas {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 39px;
}

.label-empresas {
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2B2B2A;
    border-radius: 7px;
    width: fit-content;
    margin-top: -1px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    color: #F3F3F3;
}

/* --------------- DETALLES DE EMPRESA --------------- */

.detalles {
    position: relative;
    width: 1347px;
    height: 922px;
    background-color: #F6E953;
    border-radius: 45px;
    border: 1px solid;
    border-color: #2B2B2A;
    box-shadow: 0px 5px 0px #2B2B2A;
    margin: 0 auto;
}

.rectangle-detalles {
    width: 333px;
    height: 204px;
    top: 151px;
    position: absolute;
    left: 94px;
    background-color: #D9D9D9;
}

.rectangle-video-detalles {
    width: 568px;
    height: 369px;
    top: 405px;
    position: absolute;
    left: 94px;
    background-color: #D9D9D9;
}

.nombre-empresa {
    position: absolute;
    top: 110px;
    left: 447px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 45px;
    line-height: 40px;
    color: #2B2B2A;
}

.subtitulo-detalles {
    font-weight: 500;
}

.text-detalles {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.scroll-detalles {
    position: absolute;
    top: 397px;
    left: 682px;
    width: 568px;
    max-height: 369px; /* Ajusta según el tamaño del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical */
}

.p-detalles {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #2B2B2A;
    margin: 0; /* Elimina márgenes para ajustar el espaciado */
}

.button-container {
    position: absolute;
    top: 800px; /* Ajusta según el espacio disponible debajo del rectángulo de video */
    left: 100px; /* Alinea con la parte izquierda del área de scroll-detalles */
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

.button {
    display: flex;
    width: 96px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    background-color: #F3F3F3;
    border-radius: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #2B2B2A;
    border: none; /* Sin borde por defecto */
}

.button:hover,
.button:active {
    border: 2px solid #2B2B2A;
    opacity: 1;
}

.titulo-detalles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 63px;
    left: 94px;
}

.label-detalles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: #F3F3F3;
    border-radius: 7px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    color: #2B2B2A;
}