/*
GREEN - #60A96E
BLUE - #384078
RED - #AC3635
YELLOW - #F6E953
DARK - #2B2B2A
LIGHT - #F3F3F3
*/

/* #region AGENDA */
.agenda {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.titulo {
    display: inline-flex;
    align-items: center;
    background-color: #2B2B2A;
    border-radius: 8px;
}

.titulo p {
    margin: 2vh;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #F3F3F3;
}

.frame {
    position: relative;
    width: 90%;
    border-radius: 45px;
    border: 1px solid;
    box-shadow: 0px 0.3vw 0px #2B2B2A;
    transition: height 0.3s ease;
    overflow: hidden;
    margin-top: 1vh;
}

.frame.collapsed {
    margin-top: 8vh;
    height: 3vw;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    box-sizing: border-box;
}

.frame.expanded {
    margin-top: 3vh;
    height: 15vw; /* Altura cuando está expandido */
    background-color: #60A96E;
}

.frame-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.line {
    position: absolute;
    width: 90%;
    height: 0.1vw;
    left: 5%;
    display: none; /* Oculta por defecto */
}

.frame.expanded .line {
    display: block; /* Muestra la línea solo cuando está expandido */
}

.frame-content {
    width: 100%;
    overflow-y: auto;
    max-height: 90%;
    padding: 1vw;
}

.frame-content .text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.5;
    margin-left: 2vw;
}

.frame.expanded .frame-content {
    display: block; /* Muestra el contenido solo cuando está expandido */
}
.frame.collapsed .frame-content {
    display: none; /* Oculta el contenido cuando está colapsado */
}
.plus-icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.minus-icon {
    display: none;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
}
.frame.expanded .plus-icon {
    display: none;
}

.frame.expanded .minus-icon {
    display: block;
}

.text {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #f3f3f3;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 28px;
    margin: 0;
}

.div-wrapper {
    color: #2B2B2A; /* Negro cuando colapsado */
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-left: 20px;
    overflow: hidden;
}
/* #endregion*/


/* #region NOTIFICACIONES */
.contenedor-notificaciones-realaciones{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    margin-right: 2rem;
    margin-top: 6vh;
    gap: 20px;
}
.notificaciones {
    flex: 1;
    background-color: #AC3635;
    border-radius: 3rem;
    border: 2px solid black;
    box-shadow: 1px 0.3vw 1px #2B2B2A;
    box-sizing: border-box;
    position: relative;
}

.titulo-notificaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    margin: 0 auto;
}

.fondo-notificaciones {
    padding: 1rem;
    background-color: #F3F3F3;
    border-radius: 0.7vw;
}

.texto-titulo-notificaciones {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #2B2B2A;
}

.text-line-container {
    position: relative;
    margin-top: 3rem;
    overflow-y: auto;
    max-height: 80%;
}

.text-notificaciones {
    width: 90%;
    margin-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1rem; /* Cambiado de 1vw a 1rem */
    color: #F3F3F3;
}

.line-notificaciones {
    display: block;
    width: 90%;
    height: 0.1vh;
    background-color: #F3F3F3;
    margin-left: 2rem;
}

/* MIS RELACIONES COMERCIALES */
.mis-relaciones {
    flex: 1;
    background-color: #384078;
    border-radius: 3rem;
    box-shadow: 1px 0.3vw 1px #2B2B2A;
    box-sizing: border-box;
    position: relative;
}
.contenedor-realaciones{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 5px;
    border: 10px solid #384078;
    height: 60%;

}
.overlap-relaciones-1, .overlap-relaciones-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 0.5vw solid;
    border-color: #2B2B2A;
    overflow-y: auto;
    box-sizing: border-box;
}

.scroll-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: auto;
    overflow-y: auto;
}

.rectangle-relaciones {
    width: 40%;
    height: 5rem;
    background-color: #D9D9D9;
}
.text-relaciones {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #2B2B2A;
}

.text-suma-1{
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
    bottom: 1rem;
}
.text-suma-2{
    position: absolute;
    left: 78%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
    bottom: 1rem;
}
/* #endregion*/

/* --------------- IUSTRACION --------------- */
.illustration {
    display: block;
    width: 70%;
    height: auto;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

/* --------------- LISTADO EMPRESAS --------------- */
.listado-empresas {
    position: relative;
    width: 100%;
    margin: 20px auto; /* Ajusta el margen superior e inferior */
    padding: 20px; /* Ajusta el padding para espacio interno */
}

.titulo-empresas {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.label-empresas {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    color: #2B2B2A;
}

.scroll-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre logos */
    overflow-y: auto; /* Habilita el scroll vertical */
    height: 500px; /* Ajusta la altura del contenedor según sea necesario */
    padding: 10px; /* Espacio interno para mejor visualización */
    border: 2px solid #2B2B2A; /* Opcional: Borde para visualización */
    border-radius: 10px; /* Opcional: Esquinas redondeadas */
    background-color: #F3F3F3; /* Opcional: Color de fondo */
}

.rectangle-empresas {
    display: flex;
    flex-direction: column; /* Cambia la dirección de la flexbox para alinear el texto debajo del logotipo */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    width: 280px; /* Ancho del contenedor de imagen */
    height: 300px; /* Altura del contenedor (incluye espacio para el nombre) */
    background-color: #D9D9D9; /* Color de fondo del rectángulo */
    overflow: hidden; /* Oculta el contenido que se desborda */
    border-radius: 10px; /* Esquinas redondeadas para el contenedor */
    margin-bottom: 20px; /* Espacio entre los rectángulos */
}

.logo-empresa {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsión, con posible recorte */
}

.nombre-de-cada-empresa {
    font-weight: bold; /* Opcional: para hacer el nombre más destacado */
    margin-top: 10px; /* Espacio entre el logo y el nombre */
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem; /* Ajusta el tamaño del texto del nombre */
    color: #2B2B2A; /* Color del texto */
    text-align: center; /* Centra el texto debajo del logotipo */
}


/* --------------- DETALLES DE EMPRESA --------------- */

.detalles {
    position: relative;
    width: 1347px;
    height: 922px;
    background-color: #F6E953;
    border-radius: 45px;
    border: 1px solid;
    border-color: #2B2B2A;
    box-shadow: 0px 5px 0px #2B2B2A;
    margin: 0 auto;
}

.rectangle-detalles {
    width: 333px;
    height: 204px;
    top: 151px;
    position: absolute;
    left: 94px;
    background-color: #D9D9D9;
}

.rectangle-video-detalles {
    width: 568px;
    height: 369px;
    top: 405px;
    position: absolute;
    left: 94px;
    background-color: #D9D9D9;
}

.nombre-empresa {
    position: absolute;
    top: 110px;
    left: 447px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 45px;
    line-height: 40px;
    color: #2B2B2A;
}

.subtitulo-detalles {
    font-weight: 500;
}

.text-detalles {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.scroll-detalles {
    position: absolute;
    top: 397px;
    left: 682px;
    width: 568px;
    max-height: 369px; /* Ajusta según el tamaño del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical */
}

.p-detalles {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #2B2B2A;
    margin: 0; /* Elimina márgenes para ajustar el espaciado */
}

.button-container {
    position: absolute;
    top: 800px; /* Ajusta según el espacio disponible debajo del rectángulo de video */
    left: 100px; /* Alinea con la parte izquierda del área de scroll-detalles */
    display: flex;
    gap: 10px; /* Espacio entre botones */
}

.button {
    display: flex;
    width: 96px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    background-color: #F3F3F3;
    border-radius: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #2B2B2A;
    border: none; /* Sin borde por defecto */
}

.button:hover,
.button:active {
    border: 2px solid #2B2B2A;
    opacity: 1;
}

.titulo-detalles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 63px;
    left: 94px;
}

.label-detalles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: #F3F3F3;
    border-radius: 7px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    color: #2B2B2A;
}





