
<!-- Agenda -->
<div class="agenda">
    <div class="titulo">
        <p>Agenda</p>
    </div>
    
    <div class="frame collapsed"> <!-- Colapsado por defecto -->
        <div class="frame-header">
            <div class="div-wrapper">HORARIO Mañana</div>
            <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Expand" (click)="toggleFrame($event)">
            <img class="minus-icon hidden" src="assets/Images/icon-minus.png" alt="Collapse" (click)="toggleFrame($event)">
        </div>
        <img class="line" src="assets/Images/line.png" alt="Line">
        <div class="frame-content">
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
        </div>
    </div>
    <div class="frame collapsed"> <!-- Colapsado por defecto -->
        <div class="frame-header">
            <div class="div-wrapper">HORARIO Tarde</div>
            <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Expand" (click)="toggleFrame($event)">
            <img class="minus-icon hidden" src="assets/Images/icon-minus.png" alt="Collapse" (click)="toggleFrame($event)">
        </div>
        <img class="line" src="assets/Images/line.png" alt="Line">
        <div class="frame-content">
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
                <p class="text">Lorem ipsum dolor sit amet.......................................00:00</p>
        </div>
    </div>
</div>

<!-- Notificaciones -->
<div class="notificaciones">
    <div class="titulo-notificaciones">
        <div class="fondo-notificaciones">
            <div class="texto-titulo-notificaciones">Notificaciones</div>
        </div>
    </div>
    <div class="text-line-container">
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
        <div class="line-notificaciones"></div>
        <p class="text-notificaciones">Lorem ipsum dolor sit amet................</p>
    </div>
</div>

<!-- Mis relaciones comerciales -->
<div class="mis-relaciones">
    <div class="overlap-relaciones-1">
        <div class="text-relaciones-1">Compra</div>
        <div class="scroll-container">
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
        </div>
        <div class="text-suma">Total: <br/>10 empresas</div>
    </div>
    <div class="overlap-relaciones-2">
        <div class="text-relaciones-2">Venta</div>
        <div class="scroll-container">
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
            <div class="rectangle-relaciones"></div>
        </div>
        
        <div class="text-suma">Total: <br/>15 empresas</div>
    </div>
    
    <div class="titulo-notificaciones">
        <div class="fondo-notificaciones">
            <div class="texto-titulo-notificaciones">Mis relaciones comerciales</div>
        </div>
    </div>

</div>

<!-- Ilustracion -->
<img class="illustration" src="assets/Illustrations/Illustration4.png">

<!-- Listado empresas -->

<div class="listado-empresas">
    <div class="overlap-empresas">
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
        <div class="rectangle-empresas"></div>
    </div>
    <div class="titulo-empresas">
        <div class="label-empresas">Empresas participantes</div>
    </div>
</div>

<!-- Listado empresas -->

<div class="detalles">
    <div class="rectangle-detalles"></div>
    <div class="rectangle-video-detalles"></div>
    <p class="nombre-empresa">
        <span class="subtitulo-detalles">Nombre de empresa</span>
        <span class="text-detalles">
            <br/>Página web<br/>
            Horarios de ATENCIÓN CLIENTE<br/>
            Enlace de MEET<br/>
        </span>
    </p>
    <div class="scroll-detalles">
        <p class="p-detalles">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper consequat diam, non laoreet velit
            feugiat vitae. Maecenas pharetra eget leo vel venenatis. Suspendisse ornare tortor quis nibh dapibus, sed
            luctus enim molestie. In lacus dolor, tempor et nisl et, aliquet tempus sem. In ultrices ligula id libero
            gravida tincidunt. Donec condimentum ultricies orci, eu cursus ligula consectetur eu. Praesent malesuada
            ligula non eros varius ultrices. Duis maximus sagittis tellus vel facilisis. Fusce erat sapien, fermentum quis
            nulla eu, suscipit commodo nunc. Donec laoreet egestas risus, nec tempor velit volutpat nec. Praesent id enim
            at ipsum lacinia egestas. Aliquam sagittis, arcu et sagittis venenatis, ante sapien elementum lacus, eget
            tincidunt justo arcu non nulla. Duis maximus sagittis tellus vel facilisis. Fusce erat sapien, fermentum quis
            nulla eu, suscipit commodo nunc. Donec laoreet egestas risus, nec tempor velit volutpat nec. Praesent id enim
            at ipsum lacinia egestas. Aliquam sagittis, arcu et sagittis venenatis, ante sapien elementum lacus, eget
            tincidunt justo arcu non nulla.
        </p>
    </div>
    <div class="button-container">
        <button class="button">Votar</button>
        <button class="button">Mensaje</button>
        <button class="button">Comprar</button>
        <button class="button">Vender</button>
    </div>
    <div class="titulo-detalles">
        <div class="label-detalles">Detalles de X empresa</div>
    </div>
</div>