
<!-- Agenda -->
<div class="agenda">
    <div class="titulo">
        <p>Feria virtual</p>
    </div>

<!-- Notificaciones -->

<div class="contenedor-notificaciones-realaciones">
    <!-- Mis relaciones comerciales -->
    <div class="mis-relaciones">
        <div class="titulo-notificaciones">
            <div class="fondo-notificaciones">
                <div class="texto-titulo-notificaciones">Mis relaciones comerciales</div>
            </div>
        </div>
        <div class="contenedor-realaciones">
            <div class="overlap-relaciones-1">
                <div class="text-relaciones">Mis intereses</div>
                <div class="scroll-container">
                    <div *ngIf="relacionesVenta.length === 0" class="mensaje-sin-relaciones">
                        <p>Aquí aparecerán las empresas que me interesan</p>
                    </div>
                    <div *ngFor="let venta of relacionesVenta" class="rectangle-relaciones" (click)="mostrarDetallesInteres(venta, 'venta')">
                        <img *ngIf="venta.logo_url" [src]="venta.logo_url" alt="{{ venta.nombre_empresa }}" class="logo-interes">
                    </div>
                </div>
            </div>
            <!-- <div class="text-suma-1">Total: {{ relacionesVenta.length }} <br/>empresas</div> -->

            <div class="overlap-relaciones-2">
                <div class="text-relaciones">Interesados en mí</div>
                <div class="scroll-container">
                    <div *ngIf="relacionesCompra.length === 0" class="mensaje-sin-relaciones">
                        <p>Aquí aparecerán los interesados en mi</p>
                    </div>
                    <div *ngFor="let compra of relacionesCompra" class="rectangle-relaciones" (click)="mostrarDetallesInteres(compra, 'compra')">
                        <img *ngIf="compra.logo_url" [src]="compra.logo_url" alt="{{ compra.nombre_empresa }}" class="logo-interes">
                    </div>
                </div>
            </div>

            <!-- <div class="text-suma-2">Total: {{ relacionesCompra.length }} <br/>empresas</div> -->
        </div>

        <!-- Mover text-suma aquí -->
    <div class="contenedor-texto-suma">
        <div class="text-suma-1">Total: {{ relacionesVenta.length }} <br/>empresas</div>
        <div class="text-suma-2">Total: {{ relacionesCompra.length }} <br/>empresas</div>
    </div>

    </div>

    <!-- Notificaciones -->
    <div class="notificaciones">
        <div class="titulo-notificaciones">
            <div class="fondo-notificaciones">
                <div class="texto-titulo-notificaciones">Notificaciones</div>
            </div>
        </div>
        <div class="text-line-container">
            <p class="text-notificaciones">¿Qué queremos que se notifique?</p>
            <div class="line-notificaciones"></div>
        </div>
    </div>
</div>

<!-- Ilustracion -->
<img class="illustration" src="assets/Illustrations/Illustration4.png">

<!-- Listado empresas -->
<div class="titulo">
    <p>Empresas participantes</p>
</div>
<div class="scroll-container">
    <div *ngFor="let empresa of empresas" class="rectangle-empresas">
        <img [src]="empresa.logo_url" alt="{{ empresa.nombre }}" class="logo-empresa" (click)="mostrarDetalles(empresa.id)">
        <p class="txt-logo">{{ empresa.nombre_empresa }}</p>
    </div>
</div>

<!-- Detalle empresas -->
<div *ngIf="empresaSeleccionada" class="detalles">
    <div class="titulo-detalles">
        <div class="titulo">Detalles de {{ empresaSeleccionada.nombre_empresa }}</div>
    </div>

    <img src="assets/Images/icon-plus.png" class="close-icon" alt="Cerrar" (click)="cerrarDetalles()"/>

    <!-- Que viene a este rectangulo?? ----///////----- EL LOGOTIPO -->
    <div class="contenedor-arriba">
        <div class="rectangle-detalles"></div>
        <p class="empresa">
            <span class="subtitulo-detalles">{{ empresaSeleccionada.nombre_empresa }}</span>
            <span class="text-detalles">
                <br/>Página web: <a [href]="empresaSeleccionada.web_url" target="_blank">{{ empresaSeleccionada.web_url }}</a>
                <br/>Horarios de ATENCIÓN CLIENTE: {{ empresaSeleccionada.horario_meet }}
                <br/>Enlace de MEET: <a [href]="empresaSeleccionada.meetLink" target="_blank">{{ empresaSeleccionada.url_meet }}</a><br/>
            </span>
        </p>
    </div>

    <div class="contenedor-abajo">
        <div class="rectangle-video-detalles"></div>
        <div class="scroll-detalles">
            <p>{{ empresaSeleccionada.descripcion }}</p>
        </div>
    </div>

    <div class="button-container">
        <button *ngIf="!yaVotado" (click)="votar()">Votar</button>
        <button *ngIf="yaVotado" (click)="eliminarVoto()">Eliminar Voto</button>
        <button class="button">Mensaje</button>
        <button (click)="agregarOEliminarInteres()">
            {{ interesadoEnEmpresa ? 'Eliminar interés' : 'Me interesa' }}
        </button>
    </div>

</div>