<div class="login">
  <div class="titulo bienvenido">
      <p>Bienvenido</p>
  </div>
  
  <form (ngSubmit)="onSubmit()">
    <div class="username">
      <div class="text">Nombre de Usuario</div>
      <input type="email" [(ngModel)]="email" name="email">
    </div>
  
    <div class="password">
      <div class="text">Contraseña</div>
      <input type="password" [(ngModel)]="password" name="password">
    </div>
  
    <div class="enviar">
      <button type="submit">ENVIAR</button>
    </div>
  
    <p class="text registro-info">
      Si no tienes cuenta,
      <a (click)="navigateToRegister()" class="enlace">regístrate</a>
    </p>

    <img class="illustration" src="assets/Illustrations/Illustration3.png">
  
    <!-- El mensaje de error debe estar justo después del botón de enviar -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="tocho">
      <p class="text">
          Si tienes algún problema ponte en contacto con tu escuela o profesor
      </p>
    </div>
  </form>
</div>

<!-- TODO componente de patrocinadores -->