.login {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 90vh;
  background-color: #F6E953;
  border-radius: 20px;
  border: 0.3vw solid #2B2B2A;
  box-shadow: 0 5px 0 #2B2B2A;
  margin: 6vh auto;
}

.bienvenido {
  position: absolute;
  left: 5vh;
  margin: 2vh;
}

.password, .username{
  position: absolute;
  width: 80%;
  height: 13vh;
  background-color: #f3f3f3;
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 0px 1vh 1vh #2B2B2A;
  box-sizing: border-box;
  padding: 1vw;
  margin-top: 3vw;
  left: 7vw;
}

.username {
  top: 24vh;
  width: 80%;
}

.password {
  top: 42vh;
  width: 60%;
}

.username input, .password input {
  position: absolute;
  top: 6.5vh;
  left: 1.5vw;
  width: 90%;
  border: none;
  border-bottom: 1px solid #2B2B2A;
  background-color: transparent;
  outline: none;
}

.enviar {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 1vh 2vw;
  position: absolute;
  top: 55vh;
  left: 28vw;
  background-color: #F3F3F3;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
  margin-top: 8vh;
}

.enviar button {
  font-size: 1.5vw;
  color: #2B2B2A;
  background: none;
  border: none;
  cursor: pointer;
}

.enviar:hover, .enviar:active {
  border: 1px solid #2B2B2A;
}

.tocho {
  display: flex;
  position: absolute;
  top: 70vh;
  left: 5vw;
  color: #2B2B2A;
  line-height: 2;
  margin-top: 2rem;
}

.illustration {
  position: absolute;
  width: 30%;
  height: auto;
  max-width: 1000px;
  top: 38vh;
  left: 60vw;
  overflow: hidden;
}

/* Añade estilos para el texto de registro */
.registro-info {
  margin: 70vh auto;
  margin-left: 20vw;
  padding: 1rem;
  }

.login .enlace {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}
.registro-enlace {
  color: #007bff; /* Color del enlace */
  cursor: pointer; /* Cursor en forma de puntero */
  text-decoration: none; /* Sin subrayado por defecto */
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  display: inline-block; /* Permite el ajuste del tamaño del texto y el subrayado */
  transition: transform 0.3s ease; /* Transición suave para el aumento del tamaño del texto */
}
.registro-enlace:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transform: scale(1.01); /* Aumenta el tamaño del texto en hover */


}

.error-message {
  color: red;

  position: absolute;
  top: 55vh;
  left: 46%;
  transform: translateX(-50%);
  background-color: #F3F3F3;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid red;
}
