  
  <!-- Video de YouTube incrustado -->
  <div class="video">
    <iframe src="https://www.youtube.com/embed/IJkG-4cfnVg" frameborder="0" allowfullscreen title="YouTube video player"></iframe>
  </div>
  

  <!-- Intro -->
  <div class="intro">
    <div class="flexcontainer">
      <p class="text-intro">La Salle Bussiness Match</p>
      <p class="text-intro2">1 y 2 de Febrero 2025</p>
      <p class="desciption">
        Este es el texto de presentación de la feria que nos tienen que dar para que se presente la actividad.
      </p>
    </div>
    <div class="image-container">
      <img src="assets/Illustrations/Illustration1.png" alt="Ilustración del evento"/>
    </div>
  </div>

<!-- Agenda -->
<div class="agenda" id="agenda">
  <div *ngFor="let event of events; let i = index"
      class="frame"
      [ngClass]="{ 'expanded': event.isExpanded, 'collapsed': !event.isExpanded, 'current-event': event.isCurrent }">
    <div class="frame-header">
      <div class="time-wrapper">{{ event.hora }} a {{ event.horaFinal }}</div>
      <p class="event-description">{{ event.descripcion }}</p>
      <img class="plus-icon"
          [src]="event.isExpanded ? 'assets/Images/icon-minus.png' : 'assets/Images/icon-plus.png'" 
          alt="Toggle"
          (click)="toggleContent(i)" />
    </div>
    <div class="line" *ngIf="event.isExpanded"></div>
    <div class="frame-content" [ngClass]="{'expanded': event.isExpanded}">
      <div class="flexcontainer">
        <p>{{ event.detalles }}</p>
      </div>
    </div>
  </div>
</div>


  <!-- Div de Descargas -->
  <div class="descargas" id="descargas">
    <div class="titulo-descargas">
      <p>Descargas</p>
    </div>
    <div class="descarga-programa">
      <div class="heading">
        <div class="text-wrapper">Programa<br/>de la Feria</div>
      </div>
      <div class="link" (click)="downloadFile('assets/PDFs/Programa_Dummy.pdf')">
          <div class="icon">
            <img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/>
          </div>
          <p>Descargar el PDF</p>
      </div>
    </div>
    <div class="descarga-concurso">
      <div class="heading">
        <div class="text-wrapper">Bases<br/>del Concurso</div>
      </div>
      <div class="link" (click)="downloadFile('assets/PDFs/Bases.pdf')">
        <div class="icon"><img  src="assets/Images/icon-descarga.png" alt="Download"/></div>
        <p>Descargar el PDF</p>
      </div>
    </div>
    <div class="descarga-guia">
      <div class="heading">
        <div class="text-wrapper">Guía<br/>para participar</div>
      </div>
      <div class="link" (click)="downloadFile('assets/PDFs/Programa_Dummy.pdf')">
        <div class="icon"><img src="assets/Images/icon-descarga.png" alt="Download"/></div>
        <p>Descargar el PDF</p>
      </div>
    </div>
  </div>
  

  <!-- Div patrocinadores -->
  <div class="titulo-patrocinadores">
    <p>Patrocinadores y colaboradores</p>
  </div>
  <div class="patrocinadores">
    <div class="fondo"></div>
    <div class="scroll-container">
      <div class="scroll">
        <div class="logo-1">
          <div class="overlap-group">
            <img src="assets/Illustrations/BCS.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Brothers of the Christian Schools<br/></span>
            <span class="ciudad">Rome</span>
          </p>
        </div>
        <div class="logo-2">
          <div class="overlap-group">
            <img src="assets/Illustrations/logodistrito.png" alt="Distrito" />
          </div>
          <p class="colegio">
            <span class="span">Distrito ARLEP<br/></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-3">
          <div class="overlap-group">
            <img src="assets/Illustrations/PROYDE.png" alt="PROYDE" />
          </div>
          <p class="colegio">
            <span class="span">Proyde<br/></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-4">
          <div class="overlap-group">
            <img src="assets/Illustrations/ColeLou.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Colegio N.S. Lourdes<br/></span>
            <span class="ciudad">Valladolid</span>
          </p>
        </div>
      </div>
    </div>
  </div>