* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------- Region Video -------------------- */
/* #region video */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 5%;
  box-sizing: border-box;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: auto;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
}
/* #endregion */

/* #region Intro */
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1280px;
  height: auto;
  border-radius: 45px;
  border: 5px solid;
  border-color: #F6E953;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  width: 50%;
}

.text-intro, .text-intro2, .desciption {
  color: #2B2B2A;
  margin: 0;
}

.text-intro {
  font-size: clamp(24px, 4vw, 50px);
  font-weight: 700;
  line-height: 100%;
}

.text-intro2 {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 400;
  line-height: 1.5;
}

.desciption {
  font-size: clamp(14px, 2vw, 30px);
  line-height: 130%;
  width: 100%;
  box-sizing: border-box;
}

.image-container {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.intro img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Estilos para tablets en posición vertical */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-top: 20px;
    width: 100%;
  }

  .intro img {
    width: 100%;
    height: auto;
  }
}

/* Intro para MÓVILES */

@media (max-width: 480px) {
  .intro {
    width: 90%;
    padding: 5%;
    margin-top: 10%;
  }

  .flexcontainer {
    width: 100%;
  }

  .desciption {
    font-size: 12px;
  }
}
/* #endregion */

/* #region Agenda */

/* Estructura general de la agenda */
.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.text-intro, .text-intro2, .desciption, .frame {
  font-family: 'Roboto Mono', monospace;
  font-size: large;
}

/* Estilo para cada frame */
.frame {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem 1rem;
  background-color: #F3F3F3;
  border-radius: 3rem;
  border: 1px solid #2B2B2A;
  box-shadow: 0 0.25rem 0 #2B2B2A;
  margin-bottom: 2vw;
  transition: background-color 0.3s ease, height 0.3s ease;
  position: relative;
  overflow: hidden;
}

.agenda .frame.current-event:first-child {
  background-color: #60A96E;
  color: white;
}

/* Estilo para cualquier frame que sea el evento actual */
.current-event {
  background-color: #60A96E;
  color: white;
}

.frame.expanded {
  background-color: #F3F3F3;
  color: black;
}
.frame-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.frame.expanded .frame-content {
  display: block;
}

.time-wrapper {
  flex-grow: 0;
  margin-right: 1rem;
  overflow-wrap: break-word;
  font-size: larger;
  font-weight: 500;
}

.event-description {
  margin: 0;
  flex: 2;
  overflow-wrap: break-word;
}

.plus-icon {
  width: clamp(2rem, 4vw, 4rem);
  height: clamp(2rem, 4vw, 4rem);
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: #2B2B2A;
  display: none; /* Oculta la línea por defecto */
}

.frame.expanded .line {
  display: block;
}

.frame-content {  /* el expandido */
  display: none;
  padding: 0.3rem;
  box-sizing: border-box;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.text {
  width: 100%;
  color: black;
  margin: 0;
}

@media (max-width: 480px) {
  .agenda .time-wrapper {
    font-size: 14px; /* Tamaño de letra reducido para la hora */
  }

  .agenda .event-description {
    font-size: 14px; /* Tamaño de letra reducido para la descripción del evento */
  }

  .agenda .frame-header {
    font-size: 14px; /* Tamaño de letra reducido para el encabezado del frame */
  }

  .agenda .frame-content {
    font-size: 14px; /* Tamaño de letra reducido para el encabezado del frame */
  }
}

/* #endregion */

/* #region Descargas */
.descargas {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 45px;
  border: 5px solid #2B2B2A;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.descargas .descarga-programa,
.descargas .descarga-concurso,
.descargas .descarga-guia {
  width: 30%;
  height: auto;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}

.descargas .descarga-programa {
  background-color: #60A96E;
}

.descargas .descarga-concurso {
  background-color: #AC3635;
}

.descargas .descarga-guia {
  background-color: #384078;
}

.descargas p {
  margin: 0;
  line-height: 1.5;
  color: #F3F3F3;
  font-size: 1.5vw;
}

.descargas .link {
  display: inline-flex;
  color: #F3F3F3;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.descargas .link:hover{
  transform: scale(1.1);
}

.descargas .link img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 481px) {
  .descargas {
    flex-direction: column;
    align-items: center;
  }

  .descargas .descarga-programa,
  .descargas .descarga-concurso,
  .descargas .descarga-guia {
    width: 100%; 
    margin-top: 1rem;
  }

  .descargas .descarga-programa p,
  .descargas .descarga-concurso p,
  .descargas .descarga-guia p {
    font-size: 1rem;
  }
}

/* #endregion */

/* #region Patrocinadores */
.titulo{
  margin-top: 20px;
  margin-bottom: 1rem;
}

.patrocinadores {
  display: flex;
  width: 80%;
  height: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 0.4rem 0;
  overflow: hidden;
}

.patrocinadores .fondo {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #384078;
  border-radius: 45px;
  z-index: 0;
  overflow: hidden ;
  /* border: 10px solid #384078; */
  ;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1;
  padding: 0;
}

.scroll {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  justify-content: space-around;
  animation: scroll 20s linear infinite;

}

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

/*Cuadros amarillos*/
.overlap-group {        
  border-radius: 45px;
  border: 3px solid #F6E953;
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlap-group img { 
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
}

.colegio {
  margin-top: 15px;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.7rem;
  overflow-wrap: break-word;
  
}

@keyframes scroll {
  0% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  100% { transform: translateX(-100%); }
}
/* #endregion */

