* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indivisa', sans-serif;
}
.container {
  padding: 2rem;
  box-sizing: border-box;
}
.video,
.intro,
.agenda,
.descargas,
.patrocinadores {
  margin: 2rem 0;
}

/* #Region Video */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
iframe {
  width: 100%;
  height: auto;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
}

/* #EndRegion */

/* #Region Intro */

 /* Contenedor general de intro */
.introcontainer {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 45px;
  border: 5px solid var(--color-amarillo);
  box-sizing: border-box;
  margin-bottom: 2rem;
}
/* Text-intro ocupa todo el ancho */
.text-intro-container {
  width: 100%;
  /* text-align: center; */
  margin-bottom: 1rem;
}
.text-intro {
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: bold;
  color: var(--color-negro);
}
/* Contenedor para flexcontainer e image-container en dos columnas */
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
/* Flexcontainer ocupa el 60% */
.flexcontainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-intro2 {
  font-size: clamp(16px, 3vw, 30px);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-negro);
}
.desciption {
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 130%;
  color: var(--color-negro);
}
/* Image-container ocupa el 40% */
.image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  justify-content: center;
}

/* Estilo responsivo para pantallas más pequeñas */

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .flexcontainer,
  .image-container {
    width: 100%;
  }
  .image-container {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .introcontainer {
    width: 90%;
    padding: 5%;
  }
  .flexcontainer {
    width: 100%;
  }
  .image-container {
    display: none;
  }
}

/* #EndRegion */

/* #Region Agenda */

/* Estructura general de la agenda */
.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
/* Estilo para cada frame */
.frame {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem 1rem;
  background-color: #F3F3F3;
  border-radius: 3rem;
  border: 1px solid var(--color-negro);
  box-shadow: 0 0.25rem 0 var(--color-negro);
  margin-bottom: 2vw;
  transition: background-color 0.3s ease, height 0.3s ease;
  position: relative;
  overflow: hidden;
}
.agenda .frame.current-event:first-child {
  background-color: var(--color-verde);
  color: white;
}
/* Estilo para cualquier frame que sea el evento actual */
.current-event {
  background-color:var(--color-verde);
  color: white;
}
.frame.expanded {
  background-color: var(--color-blanco);
  color: var(--color-negro);
}
.frame-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.frame.expanded .frame-content {
  display: block;
}
.time-wrapper {
  flex-grow: 0;
  margin-right: 1rem;
  overflow-wrap: break-word;
  font-size: larger;
  font-weight: bold;
}
.event-description {
  margin: 0;
  flex: 2;
  overflow-wrap: break-word;
  font-weight: bold;
}
.plus-icon {
  width: clamp(2rem, 4vw, 4rem);
  height: clamp(2rem, 4vw, 4rem);
  cursor: pointer;
}
.line {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background-color: var(--color-negro);
  display: none;
}
.frame.expanded .line {
  display: block;
}
.frame-content {
  display: none;
  padding: 0.3rem;
  box-sizing: border-box;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.text {
  width: 100%;
  color: black;
  margin: 0;
}

@media (max-width: 480px) {
  /* Agenda ocupa 90% y se centra */
  .agenda {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }
  .frame{
    width: 90%;
    box-shadow: 0 0.1rem 0 var(--color-negro);
  }
  .agenda .time-wrapper {
    font-size: 14px;
  }
  .agenda .event-description {
    font-size: 14px;
  }
  .agenda .frame-header {
    font-size: 14px;
  }
  .agenda .frame-content {
    font-size: 14px;
  }
}

/* #EndRegion */

/* #Region Descargas */

.descargas {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  height: auto;
  align-items: stretch;
  justify-content: center;
  position: relative;
  border-radius: 45px;
  border: 5px solid var(--color-negro);
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}
.descargas .descarga-programa,
.descargas .descarga-concurso,
.descargas .descarga-guia {
  width: 30%;
  height: auto;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}
.descargas .descarga-programa {
  background-color: var(--color-verde);
}
.descargas .descarga-concurso {
  background-color: var(--color-rojo);
}
.descargas .descarga-guia {
  background-color: var(--color-azul);
}

.descargas p {
  margin: 0;
  line-height: 1.5;
  color: #F3F3F3;
  font-size: 20px;
}
.descargas .link {
  display: inline-flex;
  color: #F3F3F3;
  font-size: 12px;
  /* margin-top: 1rem; */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
.descargas .link:hover{
  transform: scale(1.1);
}
.descargas .link img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 481px) {
  .descargas {
    flex-direction: column;
    align-items: center;
  }
  .descargas .descarga-programa,
  .descargas .descarga-concurso,
  .descargas .descarga-guia {
    width: 100%;
    margin-top: 1rem;
  }
  .descargas .descarga-programa p,
  .descargas .descarga-concurso p,
  .descargas .descarga-guia p {
    font-size: 1rem;
  }
}

/* #EndRegion */

/* #Region Patrocinadores */

.titulo{
  margin-top: 20px;
  margin-bottom: 2rem;
}
.patrocinadores {
  display: flex;
  width: 80%;
  height: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
  padding: 2rem;
}
.patrocinadores .fondo {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: var(--color-azul);
  border-radius: 45px;
  z-index: 0;
  overflow: hidden;
}
.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  z-index: 1;
  padding: 0;
}
.scroll {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1.1rem;
  justify-content: space-around;
  animation: scroll 20s linear infinite;
  
}
.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

/* Cuadros amarillos */

.overlap-group {
  border-radius: 45px;
  border: 3px solid var(--color-amarillo);
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}
.overlap-group img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.colegio {
  margin-top: 15px;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  overflow-wrap: break-word;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  /* 25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); } */
  100% { transform: translateX(-100%); }
}

/* #EndRegion */