  
  <!-- Video de YouTube incrustado -->
  <div class="video">
    <iframe src="https://www.youtube.com/embed/IJkG-4cfnVg" frameborder="0" allowfullscreen title="YouTube video player"></iframe>
  </div>
  

  <!-- Intro -->
  <div class="intro">
    <div class="flexcontainer">
      <p class="text-intro">La Salle Bussiness Match</p>
      <p class="text-intro2">30 de enero 2025</p>
      <p class="desciption">
        La Salle Bussiness Match es una iniciativa que impulsa la colaboración entre los diferentes centros La Salle,
        promoviendo sinergias globales y aprovechando su red nacional. Este enfoque refuerza la metodología NCA, fomentando
        la innovación conjunta y la co-creación de valor en proyectos educativos y empresariales. A través de esta actividad,
        se potencian oportunidades únicas de aprendizaje y desarrollo profesional para estudiante y docentes.
      </p>
    </div>
    <div class="image-container">
      <img src="assets/Illustrations/Illustration1.png" alt="Ilustración del evento"/>
    </div>
  </div>

<!-- Agenda -->
<div class="titulo">
  <p>Agenda</p>
</div>
<div class="agenda" id="agenda">
  <div *ngFor="let event of events; let i = index"
      class="frame"
      [ngClass]="{ 'expanded': event.isExpanded, 'collapsed': !event.isExpanded, 'current-event': event.isCurrent }">
    
      <div class="frame-header">
    
        <div class="time-wrapper">{{ event.hora }} a {{ event.horaFinal }}</div>
      
      <p class="event-description">{{ event.descripcion }}</p>
      
      <img class="plus-icon"
          [src]="event.isExpanded ? 'assets/Images/icon-minus.png' : 'assets/Images/icon-plus.png'" 
          alt="Toggle"
          (click)="toggleContent(i)" />
    </div>
    <div class="line" *ngIf="event.isExpanded"></div>
    <div class="frame-content" [ngClass]="{'expanded': event.isExpanded}">
      <div class="flexcontainer">
        <p>{{ event.detalles }}</p>
      </div>
    </div>
  </div>
</div>


  <!-- Div de Descargas -->
  <div class="titulo"> <p>Descargas</p>  </div>

  <div class="descargas" id="descargas">
      <div class="descarga-programa">
          <p>Programa<br/>de la Feria</p><br/><br/>
          <div class="link" (click)="downloadFile('assets/PDFs/Programa_LSBM_2025.pdf')">
              <img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/>
              <p>Descargar PDF</p>
          </div>
      </div>
      <div class="descarga-concurso">
          <p>Bases<br/>del Concurso</p><br/><br/>
          <div class="link" (click)="downloadFile('assets/PDFs/Bases_del_Concurso_LSBM_2025.pdf')">
              <img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/>
              <p>Descargar PDF</p>
          </div>
      </div>
      <div class="descarga-guia">
          <p>Guía<br/>para participar</p><br/><br/>
          <div class="link" (click)="downloadFile('assets/PDFs/Programa_Dummy.pdf')">
              <img src="assets/Images/icon-descarga.png" alt="Download"/>
              <p>Descargar PDF</p>
          </div>
      </div>
  </div>

  <!-- Div patrocinadores -->
  <div class="titulo">
    <p>Patrocinadores y colaboradores</p>
  </div>
  <div class="patrocinadores">
    
    <div class="fondo"></div>
    
    <!-- scroll -->
    <div class="scroll-container">
      <div class="scroll">
        <div class="logo">
          <div class="overlap-group">
            <img src="assets/Illustrations/BCS.png" alt="BSC"/>
          </div>
          <p class="colegio">
            Brothers of the<br/>
            Christian Schools
          </p>
        </div>
        <div class="logo">
          <div class="overlap-group">
            <img src="assets/Illustrations/logodistrito.png" alt="Distrito" />
          </div>
          <p class="colegio">
            Distrito ARLEP<br/>
            España
          </p>
        </div>
        <div class="logo">
          <div class="overlap-group">
            <img src="assets/Patrocinadores/La_Salle_fp_online_horitzontal_negatiu.png" alt="La_Salle_FPOnline" />
          </div>
          <p class="colegio">
            Formación Profesional Online<br/>
            España
          </p>
        </div>
        <div class="logo">
          <div class="overlap-group">
            <img src="assets/Patrocinadores/La_Salle fp_negativo.png" alt="La_Salle_FP"/>       
          </div>
          <p class="colegio">
            La Salle FP<br/>
            Barcelona
          </p>
        </div>
      </div>
    </div>
  </div>