<nav class="header" [ngClass]="{'shrink': isShrunk}">
    <img class="logo" src="assets/Images/logo.png" (click)="goToHomePage()">

    <!-- Contenedor para los botones y el menú -->
    <div class="button">
      <ng-container *ngIf="!isLoggedIn; else loggedInMenu">
            <!-- <button class="label" (click)="navigateTo('/')">Inicio</button> -->
            <button class="label" (click)="navigateTo('/', 'agenda')">Programa</button>
            <button class="label" (click)="navigateTo('/', 'descargas')">Descargas</button>
            <button class="label" (click)="navigateTo('home-page', 'patrocinadores')">Patrocinadores</button>
            <button class="label" (click)="navigateTo('nosotros')">Nosotros</button>
            <button class="login" (click)="handleLogin()">
                <img src="assets/Images/button-login.png">
            </button>
        </ng-container>

        <ng-template #loggedInMenu>
            <!-- <button class="label" (click)="navigateTo('/feria')">Inicio</button> -->
            <button class="label" (click)="navigateTo('/feria', 'agenda')">Agenda</button>
            <!-- <button class="label" (click)="navigateTo('/feria', 'avisos')">Avisos</button> -->
            <button class="label" (click)="navigateTo('/feria', 'empresas')">Empresas</button>
            
            <button class="login" (click)="toggleDropdown()">
                <img src="assets/Images/button-login.png" alt="Login">
                <div class="dropdown-menu" [ngClass]="{'active': dropdownOpen}">
                    <button class="dropdown-item" (click)="navigateToProfile()">
                        <mat-icon>person</mat-icon> Mi Perfil
                    </button>
                    <button class="dropdown-item" (click)="handleLogout()">
                        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
                    </button>
                </div>
            </button>
        </ng-template>
<!-- TODO si registrado, que aparezca el logo -->
    </div>

    <!-- Botón de hamburguesa -->
    <button class="hamburger" (click)="toggleMenu()" aria-label="Menu" [ngClass]="{'shrink': isShrunk}">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>

    <!-- Menú de navegación móvil -->
    <nav class="mobile-menu" [class.active]="isMenuOpen">
        <ng-container *ngIf="!isLoggedIn; else mobileLoggedInMenu">
            <!-- <button class="label" (click)="navigateAndHideMenu('/')">Inicio</button> -->
            <button class="label" (click)="navigateAndHideMenu('/', 'agenda')">Programa</button>
            <button class="label" (click)="navigateAndHideMenu('/', 'descargas')">Descargas</button>
            <button class="login" (click)="handleLoginAndHideMenu()">
                <img src="assets/Images/button-login.png">
            </button>
        </ng-container>

        <ng-template #mobileLoggedInMenu>
            <!-- <button class="label" (click)="navigateAndHideMenu('/feria')">Inicio</button> -->
            <button class="label" (click)="navigateAndHideMenu('/feria', 'agenda')">Agenda</button>
            <button class="label" (click)="navigateAndHideMenu('/feria', 'empresas')">Empresas</button>
            <button class="login" (click)="handleLoginAndHideMenu()">
                <img src="assets/Images/button-login.png">
            </button>
        </ng-template>
    </nav>
</nav>
