/* Establece un ancho máximo de 1280px y centra el contenedor principal */


/* #region video */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

iframe {
  width: 80%;
  height: auto;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
  .video {
    height: 50vh;
  }
}

/* #endregion*/

/* #region Intro */
.intro {
  display: flex;
  flex-direction: row; /* Mantén la dirección de las filas */
  justify-content: space-between; /* Espacia las columnas */
  align-items: flex-start; /* Alinea el contenido al inicio */
  width: 100%;
  max-width: 1280px; !important
  height: auto;
  border-radius: 45px;
  border: 5px solid;
  border-color: #F6E953;
  padding: 20px; /* Ajusta el padding según sea necesario */
  box-sizing: border-box;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
  width: 50%; /* La columna de texto ocupa el 50% */
}

.text-intro, .text-intro2, .desciption {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #2B2B2A;
}

.text-intro {
  font-size: clamp(24px, 4vw, 50px);
  line-height: 1.2em;
  margin: 0;
}

.text-intro2 {
  font-size: clamp(16px, 3vw, 30px);
  line-height: 1.2em;
  margin: 0;
}

.desciption {
  font-size: clamp(12px, 2vw, 16px);
  line-height: 1.4em;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.image-container {
  width: 50%; /* La columna de imagen ocupa el 50% */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  gap: 50px;
}

.intro img {
  width: 100%; /* Ajusta el ancho de la imagen para que se adapte al contenedor */
  height: auto; /* Mantén la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}


@media (max-width: 480px) {
  .intro {
    flex-direction: column; /* Cambia la dirección a columna para pantallas pequeñas */
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
  }

  .flexcontainer {
    width: 100%;
    height: auto;
    gap: 20px;
    position: static;
  }

  .text-intro {
    font-size: clamp(20px, 8vw, 32px);
    line-height: 1.2em;
  }

  .text-intro2 {
    font-size: clamp(18px, 6vw, 28px);
    line-height: 1.2em;
  }

  .desciption {
    font-size: clamp(12px, 5vw, 16px);
    line-height: 1.4em;
    width: 100%;
  }

  .image-container {
    width: 100%; /* La columna de imagen ocupa el 100% */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
  }

  .intro img {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 20px; /* Ajusta el borde redondeado para pantallas pequeñas */
    top: 0;
    left: 0;
  }
}


/* #endregion */
/* Intro para tabletas */
@media (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna para pantallas pequeñas */
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px; /* Ajusta el borde redondeado para pantallas pequeñas */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    overflow: visible;
  }

  .flexcontainer {
    width: 100%;
    height: auto;
    gap: 15px;
    position: static;
  }
  .text-intro, .text-intro2, .desciption {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el tamaño total */
    width: 100%;
  }
  .text-intro {
    font-size: clamp(18px, 6vw, 30px);
    line-height: 1.2em;
  }

  .text-intro2 {
    font-size: clamp(16px, 5vw, 28px);
    line-height: 1.2em;
  }

.desciption {
    font-size: clamp(12px, 4vw, 16px); /* Ajusta el tamaño de fuente proporcionalmente */
    line-height: 1.4em;
    max-width: 100%; /* Asegura que el ancho ocupe todo el espacio disponible */
    margin: 0; /* Elimina el margen para evitar desbordamientos */
    overflow-wrap: break-word; /* Asegura que el texto largo se ajuste dentro del contenedor */
  }

  .image-container {
    width: 100%; /* La columna de imagen ocupa el 100% */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    margin-top: 10px; /* Ajusta el margen superior para separar la imagen del texto */
  }

  .intro img {
    width: 50%;
    height: auto;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  }
}
/* Intro para móviles */
@media (max-width: 480) {
  .intro {
    width: 100%;
    height: auto;
    padding: 20px; /* Añade padding para evitar que el contenido toque los bordes */
    border-radius: 20px; /* Ajusta el borde */
  }

  .flexcontainer {
    width: 100%;
    height: auto;
    gap: 20px; /* Ajusta el espacio entre los elementos */
    top: 20px;
    left: 0;
    position: static; /* Cambia a estático para evitar el posicionamiento absoluto */
  }

  .text-intro {
    font-size: clamp(20px, 8vw, 32px); /* Mínimo 20px, preferido 8vw, máximo 32px */
    line-height: 1.2em; /* Mantén una relación adecuada de la altura de línea */
  }

  .text-intro2 {
    font-size: clamp(18px, 6vw, 28px); /* Mínimo 18px, preferido 6vw, máximo 28px */
    line-height: 1.2em; /* Mantén una relación adecuada de la altura de línea */
  }

  .desciption {
    font-size: clamp(14px, 4vw, 20px); /* Mínimo 14px, preferido 4vw, máximo 20px */
    line-height: 1.5em; /* Mantén una relación adecuada de la altura de línea */
  }

  .intro img {
    position: static; /* Cambia a estático para evitar el posicionamiento absoluto */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    margin-top: 20px; /* Añade margen superior para separar la imagen del texto */
  }
}

/* #region Agenda */

/* Estructura general de la agenda */
.agenda {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra horizontalmente */
  width: 100%; /* Ocupa todo el ancho disponible */
  margin: 50px auto; /* Centra el contenedor en la página */
  padding: 1rem; /* Espacio alrededor del contenedor */
  font-size: 2vw;
}

/* Estilo para cada frame */
.frame {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  width: 80%;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 3rem;
  border: 1px solid var(--dark);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5); /* Sombra */
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 1vw; /* Espacio entre cada frame */
  transition: background-color 0.3s ease, height 0.3s ease; /* Transiciones suaves */
  position: relative; /* Necesario para posicionar el ícono */
}

/* Estilo para el primer frame en la agenda */
.agenda .frame:first-child {
  background-color: green; /* Fondo verde solo para el primer evento */
}

.frame.collapsed {
  display: flex;
  align-items: center;
}

.frame.expanded {
  background-color: green;
}

.frame-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.text-wrapper {
  font-size: 2.5vw; /* Tamaño de la hora */
  flex-grow: 1;
  margin-right: 1rem;
}

.event-description {
  font-size: 2vw; /* Tamaño del texto del evento */
  margin: 0; /* Elimina margen adicional en el párrafo */
  flex: 2;

}

.plus-icon {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2vw;
  background-color: var(--dark);
  display: none; /* Oculta la línea por defecto */
}

.frame.expanded .line {
  display: block; /* Muestra la línea cuando está expandido */
}

.frame-content {
  display: none; /* Oculta el contenido por defecto */
  padding: 1rem;
  box-sizing: border-box;
}

.frame.expanded .frame-content {
  display: block; /* Muestra el contenido cuando está expandido */
  background-color: green; /* Fondo verde para el contenido expandido */
}

.flexcontainer {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
  padding: 1rem; /* Espacio alrededor del contenido */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.text {
  width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #F3F3F3; /* Color del texto */
  font-size: 2vw; /* Tamaño del texto */
  line-height: 28px; /* Altura de línea */
  margin: 0; /* Elimina márgenes por defecto */
}


/* #endregion */

/* Agenda para tabletas */
@media (max-width: 768px) {
  .frame {
    flex-direction: column; /* Cambia a columna en tabletas */
    align-items: center;
    width: 90%; /* Ajusta el ancho */
    padding: 2vw; /* Ajusta el padding */
  }

  .text-wrapper {
    font-size: 5vw; /* Ajusta el tamaño de fuente proporcionalmente */
  }

  .event-description {
    font-size: 4vw; /* Ajusta el tamaño de fuente proporcionalmente */
  }

  .plus-icon {
    width: 8vw; /* Ajusta el tamaño del icono proporcionalmente */
    height: 8vw; /* Ajusta el tamaño del icono proporcionalmente */
  }

  .line {
    width: 15vw; /* Ajusta el tamaño de la línea proporcionalmente */
  }
}
/* #region Descargas */
.descargas {
  display: flex;
  width: 100%;
  height: 483px;
  align-items: center; /* Centra horizontalmente */
  position: relative;
  border-radius: 45px;
  border: 5px solid;
  border-color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 2vw;
}

.descargas .titulo-descargas {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
}
.descargas .descarga-programa,
.descargas .descarga-concurso,
.descargas .descarga-guia {
  width: 30%; /* Ajusta el ancho de cada elemento al 30% del contenedor principal */
  height: 268px; /* Altura fija para los elementos */
  border-radius: 45px; /* Bordes redondeados */
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos internos */
  margin: 1rem; /* Espacio horizontal entre los elementos */
  position: relative; /* Necesario para los elementos internos con posición absoluta */
}

.descargas .descarga-programa {
  background-color: green;
}

.descargas .descarga-concurso {
  background-color: red;
}

.descargas .descarga-guia {
  background-color: blue;
}

.descargas .heading {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 44px;
  left: 26px;
  color: white
}

.descargas .text-wrapper {
  font-size: 2.5vw;
}

.descargas .link {
  display: inline-flex;
  align-items: center;
  position: static;
  color: whitesmoke;
  font-size: 2vw;
  margin-top: 5rem;
}

.descargas .icon {
  position: relative;
  width: 41px;
  height: 41px;
  border-radius: 20.5px;
}

.descargas .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 10px;
}
/* #endregion */


/* Descargas para tabletas */
@media (max-width: 768px) {
  .descargas {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    font-size: 3vw;
  }

  .descargas .titulo-descargas {
    position: static;
    text-align: center;
    margin-bottom: 0.5rem;
    top: 10px;
    font-size: 4vw;
  }

  .descargas .descarga-programa,
  .descargas .descarga-concurso,
  .descargas .descarga-guia {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem;
  }

  .descargas .link {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 3vw;
    gap: 15px;

  }

  .descargas .icon {
    width: 30px;
    height: 30px;
    gap: 15px;
  }

  .descargas .arrow {
    width: 15px;
    height: 15px;
  }

  .descargas .text-wrapper{
    font-size: 3vw;
  }

  .descargas .heading {
    position: static; /* Quitar la posición absoluta para que el heading se sitúe en el flujo del documento */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Añadir un margen inferior para separar el heading del contenido siguiente */
    align-items: center; /* Centrar horizontalmente los elementos del heading */
    text-align: center; /* Centrar el texto del heading */
    width: 100%;
  }

/* Descargas para móviles */
@media (max-width: 480px) {
  .descargas {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    font-size: 4vw; /* Ajustar el tamaño de fuente relativo al ancho de la ventana de visualización */
  }

  .descargas .titulo-descargas {
    position: static;
    text-align: center;
    margin-bottom: 0.5rem;
    top: 10px;
    font-size: 5vw; /* Ajustar el tamaño de fuente relativo al ancho de la ventana de visualización */
  }

  .descargas .descarga-programa,
  .descargas .descarga-concurso,
  .descargas .descarga-guia {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    padding: 1rem;
  }

  .descargas .link {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 4vw; /* Ajustar el tamaño de fuente relativo al ancho de la ventana de visualización */
    gap: 10px; /* Reducir el espacio entre los elementos internos */
  }

  .descargas .icon {
    width: 25px; /* Ajustar el tamaño de la imagen relativa al ancho de la ventana de visualización */
    height: 25px; /* Ajustar el tamaño de la imagen relativa al ancho de la ventana de visualización */
  }

  .descargas .arrow {
    width: 12px; /* Ajustar el tamaño de la flecha relativa al ancho de la ventana de visualización */
    height: 12px; /* Ajustar el tamaño de la flecha relativa al ancho de la ventana de visualización */
  }

  .descargas .text-wrapper {
    font-size: 4vw; /* Ajustar el tamaño de fuente relativo al ancho de la ventana de visualización */
  }

  .descargas .heading {
    position: static; /* Quitar la posición absoluta para que el heading se sitúe en el flujo del documento */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem; /* Añadir un margen inferior para separar el heading del contenido siguiente */
    align-items: center; /* Centrar horizontalmente los elementos del heading */
    text-align: center; /* Centrar el texto del heading */
    width: 100%;
  }
}
}

/* #region Patrocinadores */
.titulo-patrocinadores {
  font-size: 1.5rem; /* Ajusta el tamaño del texto si es necesario */
  margin-top: 2rem;
  margin-bottom: -5rem;
}
.patrocinadores {
  display: flex;
  width: 80%;
  height: 500px;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente el contenedor */
  position: relative;
  margin: 0 auto; /* Centra el contenedor horizontalmente */

}
.patrocinadores .fondo {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: blue;
  border-radius: 45px;
  z-index: 0; /* Envía el fondo detrás de los elementos */
}

.scroll-container {
  width: 100%;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  white-space: nowrap; /* Evita que los elementos se rompan en múltiples líneas */
  z-index: 1; /* Asegura que el contenedor de scroll esté encima del fondo */
}

.scroll {
  display: flex;
  align-items: center;
  height: 100%; /* Asegura que los elementos tengan la altura completa */
  gap: 1rem; /* Espacio entre los elementos */
  justify-content: space-around; /* Reparte el espacio entre los elementos */
  animation: scroll 20s linear infinite; /* Velocidad del desplazamiento automático */

}

.logo-1, .logo-2, .logo-3, .logo-4 {
  flex: 1; /* Hace que todos los logos ocupen el mismo espacio */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido dentro del logo */
  justify-content: center;
  min-width: 200px; /* Establece un ancho mínimo para cada logo */
}

.overlap-group {        /*Cuadros amarillos*/
  border-radius: 45px;
  border: 3px solid yellow;
  width: 80%;
  height: 150px; /* Altura fija para los elementos */
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido desbordado */
}

.overlap-group img {       /*Iconos dentro del cuadro*/
  max-width: 100%; /* La imagen no excederá el ancho del contenedor */
  max-height: 100%; /* La imagen no excederá la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
}

.colegio {
  text-align: center;
  color: #f8f9fa;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  100% { transform: translateX(-100%); }
}
/* #endregion */

/* patrocinadores tabletas */
@media (max-width: 768px) {
  .logo-1, .logo-2, .logo-3, .logo-4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro del logo */
    justify-content: center;
    min-width: 30vw; /* Mantiene un ancho mínimo proporcional */
    padding: 1rem; /* Añade espacio interno alrededor de los logos */
  }

  .overlap-group {
    width: 20vw; /* Ajusta el ancho del cuadro amarillo al 80% del contenedor del logo */
    height: 20vw; /* Ajusta la altura automáticamente para mantener la proporción */
    display: flex;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
    margin: 0 auto; /* Centra el cuadro amarillo dentro del logo */
    padding: 0;
    overflow: hidden; /* Asegura que el contenido no se desborde */
  }

  .overlap-group img {
    width: 80%; /* Ajusta el ancho de la imagen al 60% del contenedor del cuadro amarillo */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin deformarse */
    padding: 0;
    margin: 0;
  }

  .colegio {
    text-align: center;
    color: #f8f9fa;
    font-size: 1rem; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    line-height: 1.2; /* Mejora la legibilidad del texto */
    margin: 0.5rem 0; /* Añade espacio entre las líneas de texto */
  }
}

