<body>
  <!-- Video de YouTube incrustado -->
  <div class="inicio">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IJkG-4cfnVg" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="contenedor">
    <div class="text-column">
      <h2 class="titulo">Título del ejemplo</h2>
      <p class="texto">Este es un ejemplo de cómo colocar una imagen a la derecha de un texto utilizando HTML y CSS. El contenedor utiliza el modo flexbox para distribuir el espacio de manera eficiente. La propiedad "flex" se aplica al elemento "texto" para que ocupe todo el espacio disponible que no sea utilizado por la imagen.</p>
    </div>
    <div class="image-column">
      <img class="imagen" src="assets/Images/Lorem.png" alt="imagen">
    </div>
  </div>

  <!-- Agenda -->
  <div class="agenda">
    <!-- Primero -->
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/button-plus.png" alt="Add"/>
      <img class="line" src="assets/Images/button-plus.png" alt="Line"/>
    </div>
  
    <!-- Resto -->
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/button-plus.png" alt="Add"/>
    </div>
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/button-plus.png" alt="Add"/>
    </div>
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/button-plus.png" alt="Add"/>
    </div>
  </div>
  


  <!-- Div de Descargas -->
    <div class="descargas">
      <div class="titulo-descargas">
        <p>Descargas</p>
      </div>

      <div class="descarga-programa">
        <div class="heading">
          <div class="label"><div class="text-wrapper">Programa</div></div>
          <div class="label"><div class="text-wrapper">SimulaFEST 2025</div></div>
        </div>
        <div class="link">
          <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" /></div>
          <div class="div">Descargar el PDF</div>
        </div>
      </div>
      <div class="descarga-concurso">
        <div class="heading">
          <div class="label"><div class="text-wrapper">Bases</div></div>
          <div class="label"><div class="text-wrapper">del Concurso</div></div>
        </div>
        <div class="link">
          <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" /></div>
          <div class="div">Descargar el PDF</div>
        </div>
      </div>
      <div class="descarga-guia">
        <div class="heading">
          <div class="label"><div class="text-wrapper">Guía</div></div>
          <div class="label"><div class="text-wrapper">para participar</div></div>
        </div>
        <div class="link">
          <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" /></div>
          <div class="div">Descargar el PDF</div>
        </div>
      </div>
    </div>


  <!-- Div patrocinadores -->
  <div class="titulo-patrocinadores">
    <div class="label">
      <div class="titulo-patrocinadores">Patrocinadores y colaboradores</div>
    </div>
  </div>
  <div class="patrocinadores">
    <div class="fondo"></div>
    <div class="scroll-container">
      <div class="scroll">
        <div class="logo-1">
          <div class="overlap-group">
            <img src="assets/Illustrations/BCS.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Brothers of the Christian Schools<br /></span>
            <span class="ciudad">Rome</span>
          </p>
        </div>
        <div class="logo-2">
          <div class="overlap-group">
            <img src="assets/Illustrations/logodistrito.png" alt="Distrito" />
          </div>
          <p class="colegio">
            <span class="span">Distrito ARLEP<br /></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-3">
          <div class="overlap-group">
            <img src="assets/Illustrations/PROYDE.png" alt="PROYDE" />
          </div>
          <p class="colegio">
            <span class="span">Proyde<br /></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-4">
          <div class="overlap-group">
            <img src="assets/Illustrations/ColeLou.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Colegio N.S. Lourdes<br /></span>
            <span class="ciudad">Valladolid</span>
          </p>
        </div>
        <div class="logo-1">
          <div class="overlap-group">
            <img src="assets/Illustrations/BCS.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Brothers of the Christian Schools<br /></span>
            <span class="ciudad">Rome</span>
          </p>
        </div>
        <div class="logo-2">
          <div class="overlap-group">
            <img src="assets/Illustrations/logodistrito.png" alt="Distrito" />
          </div>
          <p class="colegio">
            <span class="span">Distrito ARLEP<br /></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-3">
          <div class="overlap-group">
            <img src="assets/Illustrations/PROYDE.png" alt="PROYDE" />
          </div>
          <p class="colegio">
            <span class="span">Proyde<br /></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-4">
          <div class="overlap-group">
            <img src="assets/Illustrations/ColeLou.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Colegio N.S. Lourdes<br /></span>
            <span class="ciudad">Valladolid</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

