<body>
  <!-- Video de YouTube incrustado -->
  <div class="inicio">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IJkG-4cfnVg" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="contenedor">
    <div class="text-column">
      <h2 class="titulo">Título del ejemplo</h2>
      <p class="texto">Este es un ejemplo de cómo colocar una imagen a la derecha de un texto utilizando HTML y CSS. El contenedor utiliza el modo flexbox para distribuir el espacio de manera eficiente. La propiedad "flex" se aplica al elemento "texto" para que ocupe todo el espacio disponible que no sea utilizado por la imagen.</p>
    </div>
    <div class="image-column">
      <img class="imagen" src="assets/Images/Lorem.png" alt="imagen">
    </div>
  </div>

  <!-- Agenda -->
  <div id="programa" class="programa">
    <h2 class="agenda-title">Agenda de Eventos</h2>
    <div class="event">
      <div class="event-time">10:00 AM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 1</h3>
        <p class="event-description">Descripción del primer evento.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-time">11:00 AM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 2</h3>
        <p class="event-description">Descripción del segundo evento.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-time">01:00 PM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 3</h3>
        <p class="event-description">Descripción del tercer evento.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-time">03:00 PM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 4</h3>
        <p class="event-description">Descripción del cuarto evento.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-time">04:00 PM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 5</h3>
        <p class="event-description">Descripción del quinto evento.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-time">06:00 PM</div>
      <div class="event-details">
        <h3 class="event-title">Evento 6</h3>
        <p class="event-description">Descripción del sexto evento.</p>
      </div>
    </div>
  </div>

  <!-- Div de Descargas -->
  <div id="descargas" class="descargas">
    <h2 class="descargas-title">Descargas</h2>
    <div class="descargas-buttons">
      <button class="descargas-button" routerLink="/programa">Programa</button>
      <button class="descargas-button" routerLink="/base">Base</button>
      <button class="descargas-button" routerLink="/guia">Guía</button>
    </div>
  </div>
</body>
