  <!-- Video de YouTube incrustado -->
  <div class="video">
    <iframe src="https://www.youtube.com/embed/IJkG-4cfnVg" frameborder="0" allowfullscreen></iframe>
  </div>
  

  <!-- Intro -->
  <div class="intro">
    <div class="flexcontainer">
      <p class="text-intro">La Salle</p>
      <p class="text-intro">Bussiness Match</p>
      <p class="text-intro2">1 y 2 de Febrero 2025</p>
      <p class="desciption">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sollicitudin ultricies placerat.
        Pellentesque auctor turpis sed leo tempus ultricies. Integer dignissim justo quis nulla finibus, at
        interdum metus mollis. Fusce ornare nisl id massa volutpat, quis dictum nisi blandit. Nam imperdiet
        in urna vitae pulvinar.
      </p>
      <img src="assets/Illustrations/Illustration1.png" alt="Ilustración del evento"/>
    </div>
  </div>
  


  <!-- Agenda -->
  <div class="agenda" id="agenda">
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Add"/>
    </div>
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Add"/>
    </div>
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Add"/>
    </div>
    <div class="frame">
      <div class="text-wrapper">00:00</div>
      <p class="event-description">Lorem ipsum dolor sit amet</p>
      <img class="plus-icon" src="assets/Images/icon-plus.png" alt="Add"/>
    </div>
  </div>
  


  <!-- Div de Descargas -->
  <div class="descargas" id="descargas">
    <div class="titulo-descargas">
      <p>Descargas</p>
    </div>
    <div class="descarga-programa">
      <div class="heading">
        <div class="label"><div class="text-wrapper">Programa</div></div>
        <div class="label"><div class="text-wrapper">SimulaFEST 2025</div></div>
      </div>
      <div class="link">
        <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/></div>
        <div class="div">Descargar el PDF</div>
      </div>
    </div>
    <div class="descarga-concurso">
      <div class="heading">
        <div class="label"><div class="text-wrapper">Bases</div></div>
        <div class="label"><div class="text-wrapper">del Concurso</div></div>
      </div>
      <div class="link">
        <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/></div>
        <div class="div">Descargar el PDF</div>
      </div>
    </div>
    <div class="descarga-guia">
      <div class="heading">
        <div class="label"><div class="text-wrapper">Guía</div></div>
        <div class="label"><div class="text-wrapper">para participar</div></div>
      </div>
      <div class="link">
        <div class="icon"><img class="arrow" src="assets/Images/icon-descarga.png" alt="Download"/></div>
        <div class="div">Descargar el PDF</div>
      </div>
    </div>
  </div>
  


  <!-- Div patrocinadores -->
  <div class="titulo-patrocinadores">
    <p>Patrocinadores y colaboradores</p>
  </div>
  <div class="patrocinadores">
    <div class="fondo"></div>
    <div class="scroll-container">
      <div class="scroll">
        <div class="logo-1">
          <div class="overlap-group">
            <img src="assets/Illustrations/BCS.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Brothers of the Christian Schools<br/></span>
            <span class="ciudad">Rome</span>
          </p>
        </div>
        <div class="logo-2">
          <div class="overlap-group">
            <img src="assets/Illustrations/logodistrito.png" alt="Distrito" />
          </div>
          <p class="colegio">
            <span class="span">Distrito ARLEP<br/></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-3">
          <div class="overlap-group">
            <img src="assets/Illustrations/PROYDE.png" alt="PROYDE" />
          </div>
          <p class="colegio">
            <span class="span">Proyde<br/></span>
            <span class="ciudad">España</span>
          </p>
        </div>
        <div class="logo-4">
          <div class="overlap-group">
            <img src="assets/Illustrations/ColeLou.png" alt="BSC"/>
          </div>
          <p class="colegio">
            <span class="span">Colegio N.S. Lourdes<br/></span>
            <span class="ciudad">Valladolid</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  


